<!--
``client\views\kwestie\opcje_crud\``add_kwestia_opcja.html
## Template for adding the Issue -->
<template name="addKwestiaOpcjaForm">
    <div class="main">
        <strong>
<!--
``txv`` Add the Issue-Option -->
{{_ "addKwestiaOpcjaForm.aKwAddingIssueOption"}} 	</strong>
        <hr/>
        <div class="row">
            <div class="col col-md-10">
                <form class="form-horizontal" id="kwestiaOpcjaForm">
                    <div class="form-group" id="kwestiaNazwaGroup">
                        <label class="control-label col-xs-3" for="inputEmail">
						<!--
						``txv`` Name of the Issue-Option -->
						{{_ "addKwestiaOpcjaForm.aKwNameIssueOption"}}
						</label>
                        <div class="col-xs-9">
                            <input class="form-control required" name="kwestiaNazwa" id="kwestiaNazwa"
                                   placeholder="{{_ 'glob.NameIssue'}}" value={{kwestiaNazwa}}>
                        </div>
                    </div>
                    <div class="form-group" id="tematyGroup">
                        <label class="control-label col-xs-3" for="inputEmail">
						<!--
						``txv`` Subject -->
						{{_ "glob.Subject"}}:
						</label>
                        <div class="col-xs-3">
                            <input type="text" readonly name="temat" id="temat" class="form-control"
                                   value="{{tematNazwa}}"/>
                        </div>
                    </div>
                    <div class="form-group" id="rodzajeGroup">
                        <label class="control-label col-xs-3" for="inputEmail">
						<!--
						``txv`` Type -->
						{{_ "glob.Type"}}:
						</label>
                        <div class="col-xs-3">
                            <input type="text" readonly name="rodzaj" id="rodzaj" class="form-control" value="{{rodzajNazwa}}"/>
                        </div>
                    </div>
						<div class="form-group" id="krotkaTrescGroup">
							<label class="control-label col-xs-3" for="inputEmail">
							<!--
							``txv`` Short content -->
							{{_ "addKwestiaOpcjaForm.aKwShortContent"}}:</label>
						<div class="col-xs-9">
							<textarea class="form-control" name="krotkaTresc" id="krotkaTresc" maxlength="500"
									  placeholder="Krótka treść" value={{krotkaTresc}} required></textarea>
						</div>
					</div>
                    {{#if isKwestiaOsobowa}}
                        <div class="form-group" id="daneAplikanta">
                            <label class="control-label col-xs-3" for="daneAplikantaGroup">
							<!--Dane aplikującego-->
							{{_ "addKwestiaOpcjaForm.aKwDataApplicator"}}
							</label>
                            <div class="col-xs-9" rows="10">
                                <table class="table table-bordered">
                                    <tr>
                                        <td><strong>{{_ "addKwestiaOpcjaForm.aKwFnameAndLname"}}: </strong></td><td>{{szczegolowaTresc.fullName}}</td>
                                    </tr>
                                    {{#if protectorZR}}
                                        <tr>
                                            <td><strong>{{_ "glob.Email"}}: </strong></td><td>{{szczegolowaTresc.email}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{_ "glob.PID"}}: </strong></td><td>{{szczegolowaTresc.pesel}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{_ "glob.Address"}}: </strong></td><td>{{szczegolowaTresc.address}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{_ "glob.PostalC"}}: </strong></td><td>{{szczegolowaTresc.zip}}</td>
                                        </tr>
                                    {{/if}}
                                        <tr>
                                            <td><strong>{{_ "glob.City"}}: </strong></td><td>{{szczegolowaTresc.city}}</td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group" id="szczegolowaTrescGroup">
                            <label class="control-label col-xs-3" for="inputEmail">
<!--
``txv`` Add Description with justification -->
{{_ "glob.DescrWithTheReasons"}}:</label>

                            <div class="col-xs-9">
								<textarea class="form-control" name="szczegolowaTrescUwagi" maxlength="1500" value={{szczegolowaTresc.uwagi}} id="szczegolowaTrescUwagi" placeholder="{{_ 'glob.DescrWithTheReasons'}}" required></textarea>
                            </div>
                        </div>
                    {{else}}
                        <div class="form-group" id="szczegolowaTrescGroup">
                            <label class="control-label col-xs-3" for="inputEmail">
							{{_ "addKwestiaOpcjaForm.aKwDescriptionOfTheReasons"}}:
							</label>
                            <div class="col-xs-9">
								<textarea class="form-control" name="szczegolowaTresc" maxlength="1500" value={{szczegolowaTresc}} id="szczegolowaTresc" placeholder="{{_ 'glob.DescrWithTheReasons'}}" required></textarea>
                            </div>
                        </div>
                    {{/if}}
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
<!--
``txv`` Add the Issue-Option -->
<input type="submit" class="btn btn-primary" value="{{_ 'addKwestiaOpcjaForm.aKwAddingIssueOption'}}" id="submitAddKwestiaOpcja">
<input id="anuluj" type="reset" class="btn btn-default" value="{{_ 'glob.Cancel'}}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--
### footer page info `` label `` ADD THE ISSUE-OPTION -->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "more.AddIssueOpt"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "more.AddIssueOptA"}}</p>
			<p>{{_ "more.AddIssueOptB"}}</p>
			<p>{{_ "more.AddIssueOptC"}}</p>
			<p>{{_ "more.AddIssueOptD"}}</p>
		</div>
	</div>
</div>
</template>