<!--
/** test */
-->
<template name="activateAccount">
    {{#if notActivatedAccount}}
    {{> spinner}}
    <div class="col-md-12 bg-warning padding-15" style="text-align: center ">
        <p>
            <!--Trwa aktywowanie konta-->
            {{_ "activateAccount.acItTakesActivateAccount"}}
        </p>
        <p>
            <!--Jeżeli zbyt długo czekasz na reakcję systemu, spróbuj odświeżyć przeglądarkę lub spróbuj aktywować konto później-->
            {{_ "activateAccount.acIfYouWaitTooLong"}}
        </p>
    </div>
    {{else}}
		{{#if notFound}}
		<div class="col-md-12 bg-warning padding-15" style="text-align: center ">
			<p>
				<!--Uwaga!-->
				{{_ "activateAccount.activUwaga"}}
			</p>
			<p>
				<!--Wystąpił błąd. Spróbuj ponownie-->
				{{_ "activateAccount.acAnErrorOccuredTryAgain"}}
			</p>
		</div>
		{{else}}
			{{#if activatedAccountRightNow}}
			<div class="col-md-12 bg-success padding-15" style="text-align: center ">
				<p>
					<!--Dziękujemy za aktywację konta!-->
					{{_ "activateAccount.acThankYouForActivatingYourAccount"}}
				</p>
				<p>
					<!--Na podany przez Ciebie email w Aplikacji zostanie wysłany login i hasło.-->
					{{_ "activateAccount.acYouWillBeSentLoginAndPass"}}
				</p>
			</div>
			{{else}}
			<div class="col-md-12 bg-warning padding-15" style="text-align: center ">
				<p>
					<!--Informacja.-->
					{{_ "activateAccount.acInformation"}}
				</p>
				<p>
					<!--Twoje konto zostało już aktywowane. Przejdź -->
					{{_ "activateAccount.acYourAccHasAlreadyBeenAct"}} 
					<a href="{{link}}">
						<!--tutaj-->
						{{_ "activateAccount.acHere"}}
					</a>
					<!-- aby, się zalogować.-->
					{{_ "activateAccount.acToLogin"}}
				</p>
			</div>
			{{/if}}
		{{/if}}
    {{/if}}
</template>