<!--
## Template for new user adoption (Application)
-->
<template name="answerInvitation">
<!--
### In case of failure ...
-->
    {{#if userNotAnswered}}
		{{#if timeExpired}}
		<div class="col-md-12 bg-warning padding-15" style="text-align: center ">
			<p>
				<!--
				txv: Sorry 
				-->
				{{_ 'answerInvitation.ansSorry'}}
			</p>
			<p >
				<!--
				txv: The time to accept invitation as 
				-->
				{{_ 'answerInvitation.ansTimeAcceptanceOfTheIinvitationAs'}} {{position}} 
				<!--
				txv:  in our organization 
				-->
				{{_ 'answerInvitation.ansIinOurOrganization'}} {{organizationName}} 
				<!--
				txv:  has ended.
				-->
				{{_ 'answerInvitation.ansPassed'}}
			</p>
		</div>
<!--
### In case of success ...
-->
		{{else}}
		<div class="main">
			<div class="col-md-12 bg-success padding-15" style="text-align: center ">
				<p>
				<!--
				txv: Welcome
				-->
					{{_ 'answerInvitation.ansHello'}} {{fullName}}!
				</p>
				<br>
				<p>
				<!--
				txv: You have been invited to apply as 
				-->
					{{_ 'answerInvitation.ansYouAreInvitedToApplyAs'}} {{position}} 
				<!--
				txv:  in our organization 
				-->
					{{_ 'answerInvitation.ansIinOurOrganization'}} {{organizationName}}.
				</p>
				<br>
				<p>
				<!--
				txv: You have been invited to apply as?
				-->
					{{_ 'answerInvitation.ansDoYouWantToApply'}}
				</p>
			</div>
			<br>
			&nbsp;
			<div style="text-align: center ">
				<!--
				txv: I want to apply
				-->
				<input type="submit" class="btn btn-primary" value="{{_ 'answerInvitation.ansIWantToApply'}}" id="apply">
				<!--
				txv:  No, thanks
				-->
				<input type="reset" class="btn btn-default" value="{{_ 'answerInvitation.ansNoThanks'}}" id="refuse">
			</div>
		</div>
		{{/if}}
		{{else}}
<!--
### In the case of a positive answer ...
-->
		{{#if answerPositive}}
		<div class="col-md-12 bg-success padding-15" style="text-align: center ">
			<p>
				<!--
				txv: You have confirmed allready the intention to apply to our organization
				-->
				{{_ 'answerInvitation.ansAlreadyYouHaveConfirmed'}} {{organizationName}}.
			</p>
			{{#with actualKwestia}}
			<p>
				<!--
				txv: To see detailes of the Issue click 
				-->
				{{_ 'answerInvitation.ansToSeeMoreDetailsClick'}} 
				<a href="{{pathFor 'informacjeKwestia'}}">
				<!--
				txv:   here
				-->
					{{_ 'answerInvitation.ansHere'}}
				</a>
			</p>
			{{/with}}
		</div>
		{{/if}}
<!--
### In case of resignation ...
-->
		{{#if answerNegative}}
		<div class="col-md-12 bg-info padding-15" style="text-align: center ">
			<p>
				<!--
				txv: Sorry,
				-->
				{{_ 'answerInvitation.ansSorry'}}
			</p>
			<p>
				<!--
				txv: You have rejected invitation to apply as 
				-->
				{{_ 'answerInvitation.ansYouRejectedAnInvitationToApplyAs'}} {{position}} 
				<!--
				txv:  in our organization 
				-->
				{{_ 'answerInvitation.ansIinOurOrganization'}} {{organizationName}}.
			</p>
		</div>
		{{/if}}
		{{#if answeredNow}}
<!--
### In case of acceptance ...
-->
		{{#if ansPos}}
		<div class="col-md-12 bg-info padding-15" style="text-align: center ">
			<p>
				<!--
				txv: Thank you for confirming the will to join our organization
				-->
				{{_ 'answerInvitation.ansDziekuj'}} {{organizationName}}!
			</p>
			{{#if isGuest}}
			<p>
				<!--
				txv: In next message you will receive data to log in.
				-->
				{{_ 'answerInvitation.ansTheNextMessYouWillReceiveYourLoginDetails'}}
			</p>
			{{/if}}
			{{#with actualKwestia}}
			<p>
				<!--
				txv: You may follow the Issue
				-->
				{{_ 'answerInvitation.ansYouCanKeepAbreastOfIssue'}} 
				<a href="{{pathFor 'informacjeKwestia'}}">
				<!--
				txv:   here
				-->
					{{_ 'answerInvitation.ansHere'}}
				</a>
			</p>
			{{/with}}
		</div>
		{{else}}
		<div class="col-md-12 bg-info padding-15" style="text-align: center ">
			<p>
				<!--
				txv: Thank you for your answers.
				-->
				{{_ 'answerInvitation.ansThankYouForAnswering'}}
			</p>
			<p>
				<!--
				txv: The System
				-->
				{{_ 'answerInvitation.ansSystem'}} {{organizationName}}
			</p>
		</div>
		{{/if}}
		{{/if}}
    {{/if}}
    {{> GlobalNotifications}}
</template>
