<!--
# Template for new user adoption (Application)
-->
<template name="answerInvitation">
<!--
## In case of failure ...
-->
    {{#if userNotAnswered}}
		{{#if timeExpired}}
		<div class="col-md-12 bg-warning padding-15" style="text-align: center ">
			<p>
				<!--
				txv: Przepraszamy				-->
				{{_ 'answerInvitation.ansSorry'}}
			</p>
			<p >
				<!--
				txv: Czas przyjęcia zaproszenia jako
				-->
				{{_ 'answerInvitation.ansTimeAcceptanceOfTheIinvitationAs'}} {{position}} 
				<!--				txv: w naszej organizacji 				-->
				{{_ 'answerInvitation.ansIinOurOrganization'}} {{organizationName}} 
				<!--				txv: minął.				-->
				{{_ 'answerInvitation.ansPassed'}}
			</p>
		</div>
<!--
## In case of success ...
-->
		{{else}}
		<div class="main">
			<div class="col-md-12 bg-success padding-15" style="text-align: center ">
				<p>
					<!--					txv: Witaj					-->
					{{_ 'answerInvitation.ansHello'}} {{fullName}}!
				</p>
				<br>
				<p>
					<!--					txv: Zostałeś zaproszony do aplikowania jako 					-->
					{{_ 'answerInvitation.ansYouAreInvitedToApplyAs'}} {{position}} 
					<!--					txv: w naszej organizacji 					-->
					{{_ 'answerInvitation.ansIinOurOrganization'}} {{organizationName}}.
				</p>
				<br>
				<p>
					<!--					txv: Czy chcesz aplikować?					-->
					{{_ 'answerInvitation.ansDoYouWantToApply'}}
				</p>
			</div>
			<br>
			&nbsp;
			<div style="text-align: center ">
				<!--				txv: Chcę aplikować				-->
				<input type="submit" class="btn btn-primary" value="{{_ 'answerInvitation.ansIWantToApply'}}" id="apply">
				<!--				txv: Nie, dziękuję				-->
				<input type="reset" class="btn btn-default" value="{{_ 'answerInvitation.ansNoThanks'}}" id="refuse">
			</div>
		</div>
		{{/if}}
		{{else}}
<!--
## In the case of a positive answer ...
-->
		{{#if answerPositive}}
		<div class="col-md-12 bg-success padding-15" style="text-align: center ">
			<p>
				<!--				txv: Już potwierdziłeś chęć aplikowania do naszej organizacji				-->
				{{_ 'answerInvitation.ansAlreadyYouHaveConfirmed'}} {{organizationName}}.
			</p>
			{{#with actualKwestia}}
			<p>
				<!--				txv: Aby zobaczyć szczegóły kwestii kliknij 				-->
				{{_ 'answerInvitation.ansToSeeMoreDetailsClick'}} 
				<a href="{{pathFor 'informacjeKwestia'}}">
					<!--					txv: tutaj					-->
					{{_ 'answerInvitation.ansHere'}}
				</a>
			</p>
			{{/with}}
		</div>
		{{/if}}
<!--
## In case of resignation ...
-->
		{{#if answerNegative}}
		<div class="col-md-12 bg-info padding-15" style="text-align: center ">
			<p>
				<!--				txv: Przepraszamy				-->
				{{_ 'answerInvitation.ansSorry'}}
			</p>
			<p>
				<!--				txv: Odrzuciłeś zaproszenie do aplikowania jako 				-->
				{{_ 'answerInvitation.ansYouRejectedAnInvitationToApplyAs'}} {{position}} 
				<!--				txv: w naszej organizacji 				-->
				{{_ 'answerInvitation.ansIinOurOrganization'}} {{organizationName}}.
			</p>
		</div>
		{{/if}}
		{{#if answeredNow}}
<!--
## In case of acceptance ...
-->
		{{#if ansPos}}
		<div class="col-md-12 bg-info padding-15" style="text-align: center ">
			<p>
				<!--				txv: Dziękujemy za potwierdzenie chęci przynależenia do naszej organizacji				-->
				{{_ 'answerInvitation.ansDziekuj'}} {{organizationName}}!
			</p>
			{{#if isGuest}}
			<p>
				<!--				txv: W następnej wiadomości otrzymasz dane do logowania.				-->
				{{_ 'answerInvitation.ansTheNextMessYouWillReceiveYourLoginDetails'}}
			</p>
			{{/if}}
			{{#with actualKwestia}}
			<p>
				<!--				txv: Możesz śledzić na bieżąco kwestię				-->
				{{_ 'answerInvitation.ansYouCanKeepAbreastOfIssue'}} 
				<a href="{{pathFor 'informacjeKwestia'}}">
					<!--					txv: tutaj					-->
					{{_ 'answerInvitation.ansHere'}}
				</a>
			</p>
			{{/with}}
		</div>
		{{else}}
		<div class="col-md-12 bg-info padding-15" style="text-align: center ">
			<p>
				<!--				txv: Dziękujemy za udzielenie odpowiedzi.				-->
				{{_ 'answerInvitation.ansThankYouForAnswering'}}
			</p>
			<p>
				<!--				txv: System				-->
				{{_ 'answerInvitation.ansSystem'}} {{organizationName}}
			</p>
		</div>
		{{/if}}
		{{/if}}
    {{/if}}
    {{> GlobalNotifications}}
</template>