<template name="czlonekZwyczajnyForm">
    <div class="main">
        <legend>
{{_ 'czlonekZwyczajnyForm.cZwApplyingAmemberOfTheOrdinary'}} {{nazwaOrganizacji}}</legend>
        {{#if currentUser}}
            <p class="col-md-12 bg-danger padding-15">
{{_ 'czlonekZwyczajnyForm.cZwFillInTheMissingFieldsInTheApplication'}}
            </p>
            <br/>
        {{/if}}
        <div class="row">
            <div class="col col-md-10">
                <form class="form-horizontal" id="userForm">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">
{{_ 'glob.Email'}}: </label>

                        <div class="col-xs-9">
<input name="email" type="email" class="form-control" id="inputEmail" placeholder="{{_ 'glob.Email'}}"
                                   value={{email}}
                                           required {{isNotEmpty}}>
                        </div>
                    </div>
                    <div class="form-group">
<label class="control-label col-xs-3" for="firstName">{{_ 'glob.Fname'}}: </label>

                        <div class="col-xs-9">
<input name="firstName" type="text" class="form-control" id="firstName" placeholder="{{_ 'glob.Fname'}}"
                                   value={{profile.firstName}}
                                           required {{isNotEmpty}}>
                        </div>
                    </div>
                    <div class="form-group">
<label class="control-label col-xs-3" for="lastName">{{_ 'glob.Lname'}}: </label>

                        <div class="col-xs-9">
<input name="lastName" type="text" class="form-control" id="lastName" placeholder="{{_ 'glob.Lname'}}" value={{profile.lastName}} required {{isNotEmpty}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="phoneNumber">
{{_ 'glob.PID'}}: </label>

                        <div class="col-xs-9">
<input name="pesel" type="text" class="form-control" id="pesel" placeholder="{{_ 'glob.PID'}}" value={{profile.pesel}} required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="postalAddress">
{{_ 'glob.Adress'}}: </label>

                        <div class="col-xs-9">
<textarea name="address" rows="3" class="form-control" id="postalAddress" placeholder="{{_ 'glob.Adress'}}" value={{profile.address}} required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">
{{_ 'glob.PostalC'}}: </label>
                        <div class="col-xs-9">
<input class="form-control" type="text" name="ZipCode" id="ZipCode" placeholder="{{_ 'glob.PostalC'}}" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">
{{_ 'glob.City'}}: </label>
                        <div class="col-xs-9">
<input name="city" type="text" class="form-control" id="city" placeholder="{{_ 'glob.City'}}" value={{profile.city}} required {{isNotEmpty}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="uwagiStatus">
{{_ 'czlonekZwyczajnyForm.cZwAdditional'}}: </label>

                        <div class="col-xs-9">
<textarea name="uwagi" rows="3" class="form-control" id="uwagiStatus" placeholder="{{_ 'czlonekZwyczajnyForm.cZwWriteAfewWordsToUsAboutYourself'}}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">
{{_ 'czlonekZwyczajnyForm.cZwLanguageUser'}}: </label>

                        <div class="col-xs-9">
                            <select name="language" id="language" class="form-control" required>
                                <option value="0">
{{_ 'czlonekZwyczajnyForm.cZwChooseLanguage'}}</option>
                                {{#each getLanguages}}
                                    <option value="{{shortName}}">{{languageName}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <input type="checkbox" name="statutConfirmation"  required/>
                                <span id="statutConfirmationSpan">
{{_ 'czlonekZwyczajnyForm.cZwIconfirmKnowledge'}} <a id="statutBootbox">
{{_ 'czlonekZwyczajnyForm.cZwOfTheRules'}}</a> </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
<input type="submit" class="btn btn-primary" value="{{_ 'czlonekZwyczajnyForm.cZwIapplyForAdmission'}}" id="submitZwyczajny">
<input type="reset" class="btn btn-default" value="{{_ 'glob.Cancel'}}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;   {{_ "more.AplyMemb"}}  </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "more.AplyMembA"}}</p>
			<p>{{_ "more.AplyMembB"}}</p>
			<p>{{_ "more.AplyMembC"}}</p>
	<b><p>{{_ "more.AplyMembD"}}</p></b>
		</div>
	</div>
</div>
</template>
