<!--
``client\views\account\``edit_profile.html
## Template for editing user account profile
-->
<template name="profileEdit">
    <div class="main">
        <legend>
				<!--
				txv: Edit profile
				-->
{{_ 'profileEdit.prfToAccessCompleteTheRequiredFields'}}</legend>
        <div class="row">
            <div class="col col-md-10">
                <form class="form-horizontal" id="profileForm">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputImię">
				<!--
				txv: First name
				-->
{{_ 'glob.Fname'}}:</label>

                        <div class="col-xs-9">
                            <input name="name" class="form-control" id="firstName" value="{{profile.firstName}}"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputNazwisko">
				<!--
				txv: Last name
				-->
{{_ 'glob.Lname'}}:</label>

                        <div class="col-xs-9">
                            <input name="surname" class="form-control" id="lastName" value="{{profile.lastName}}"
                                   required>
                        </div>
                    </div>
<!--
### Where logged on Ordinary User ...
-->
                    {{#if userZwyczajny}}
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="inputAdres">
				<!--
				txv: Address
				-->
{{_ 'glob.Address'}}:</label>

                            <div class="col-xs-9">
                                <textarea name="address" class="form-control" id="address"
                                          value="{{profile.address}}" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="inputZipcode">
				<!--
				txv: Postal Code
				-->
{{_ 'glob.PostalC'}}:</label>

                            <div class="col-xs-9">
                                <input name="zipcode" type="text" class="form-control" id="zipcode" value="{{profile.zip}}" required>
                            </div>
                        </div>
                    {{/if}}
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputMiasto">
				<!--
				txv: City
				-->
{{_ 'glob.City'}}: </label>
                        <div class="col-xs-9">
                            <input name="city" class="form-control" id="city" value="{{profile.city}}" required>
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
				<!--
				txv: Save
				-->
<input type="submit" class="btn btn-primary" value="{{_ 'glob.Save'}}">
                            <a href="{{pathFor 'manage_account'}}" class="btn btn-default">
{{_ 'glob.Cancel'}}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--
### footer page info
-->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "manageAccount.mAcEditProfile"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "more.EditProfileA"}}</p>
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
		</div>
	</div>
</div>
</template>