<template name="forgottenPassword">
    <div class="main">
        <h3 class="col-xs-offset-3">
<!--Resetuj hasło-->
{{_ 'forgottenPassword.fpaResetPassword'}}<br/><br/></h3>

        <form class="form-horizontal" id="forgottenPassword">
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-3">
<!--e-mail-->
{{_ 'glob.Email'}}: </label>
                <div class="col-xs-6">
<!--e-mail-->
<input name="email" type="email" class="form-control" id="inputEmail" placeholder="{{_ 'glob.Email'}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-1 pull-left">
                    <button type="submit" class="btn btn-primary pull-left" id="resetButton" disabled="false">
<!--Resetuj hasło-->
{{_ 'forgottenPassword.fpaResetPassword'}}</button>
                </div>
            </div>
        </form>
    </div>
    {{> GlobalNotifications}}
<!--
### footer page info
-->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "forgottenPassword.fpaResetPassword"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "more.forgottenPasswordA"}}</p>
			<p>{{_ "more.forgottenPasswordB"}}</p>
		</div>
	</div>
</div>
</template>