<template name="loginForm">
    <div class="main">
        <h3 class="col-xs-offset-3">
<!--Logowanie-->
{{_ 'loginForm.lfoLog'}}<br/><br/></h3>

        <form class="form-horizontal" id="loginForm">
            <div class="form-group">
                <label for="inputLogin" class="control-label col-xs-3">
<!--Login-->
{{_ 'loginForm.lfoLogin'}}</label>

                <div class="col-xs-6">
<!--Login-->
<input name="login" type="text" class="form-control" id="inputLogin" placeholder="{{_ 'loginForm.lfoLogin'}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label col-xs-3">
<!--Hasło-->
{{_ 'loginForm.lfoPassword'}}</label>

                <div class="col-xs-6">
<!--Hasło-->
<input name="password" type="password" class="form-control" id="inputPassword" placeholder="{{_ 'loginForm.lfoPassword'}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-1">
                    <button type="submit" class="btn btn-primary">
<!--Zaloguj się-->
{{_ 'loginForm.lfoSignIn'}}</button>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="btn btn-primary" id="forgottenPassword">
<!--Nie pamiętam hasła-->
{{_ 'loginForm.lfoIforgotMyPassword'}}</button>
                </div>
            </div>
        </form>
    </div>
    {{> GlobalNotifications}}
<!--
### footer page info
-->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "loginForm.lfoLog"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "more.loginFormA"}}</p>
			<p>{{_ "more.loginFormB"}}</p>
		</div>
	</div>
</div>
</template>