<!--
``client\views\account\``login_form_top.html
## Template
-->
<template name="loginFormTop">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="inputLogin">
				<!--
				txv: 
				-->
{{_ 'loginFormTop.lftLogin'}}</label>
<input name="login" type="text" class="form-control" id="inputLogin" placeholder="{{_ 'loginFormTop.lftLogin'}}">
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputPassword">
				<!--
				txv: 
				-->
{{_ 'loginFormTop.lftPassword'}}</label>
<input name="password" type="password" class="form-control" id="inputPassword" placeholder="{{_ 'loginFormTop.lftPassword'}}">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> 
				<!--
				txv: 
				-->
{{_ 'loginFormTop.lftRememberMe'}} </label>
        </div>
        <button type="submit" class="btn btn-primary">
				<!--
				txv: 
				-->
{{_ 'loginFormTop.lftSignIn'}}</button>
    </form>
</template>
