<!--
``client\views\account\``manage_account.html
## Account Management Template
-->
<template name="manageAccount">
    <div class="main">
        <legend>
				<!--
				txv: Your profile
				-->
{{_ 'manageAccount.mAcYourProfile'}}</legend>
        <div class="pull-right">
            <a href="{{pathFor 'profile_edit'}}" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span> 
{{_ 'manageAccount.mAcEditProfile'}}</a>
        </div>
        <div class="clearfix"></div>
        <hr/>
        <table class="table table-bordered manageTable">
            <tr>
                <td><span class="glyphicon glyphicon-user"></span><strong> 
				<!--
				txv: Login
				-->
{{_ 'manageAccount.mAcLogin'}}</strong></td>
                <td>{{username}}</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-envelope"></span><strong> 
				<!--
				txv: e-mail
				-->
{{_ 'glob.Email'}}</strong></td>
                <td>{{test emails}}</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-info-sign"></span><strong> 
				<!--
				txv: Name and Surname
				-->
{{_ 'glob.FandLname'}}</strong></td>
                <td>{{profile.fullName}}</td>
            </tr>
<!--
### Where the User has a PID in the profile ...
-->
            {{#if profile.pesel}}
                <tr>
                    <td><span class="fa fa-envelope"></span><strong> 
				<!--
				txv: Personal ID
				-->
{{_ 'glob.PID'}}</strong></td>
                    <td>{{profile.pesel}}</td>
                </tr>
            {{/if}}
            <tr>
                <td><span class="glyphicon glyphicon-book"></span><strong> 
				<!--
				txv: Position in the System
				-->
{{_ 'manageAccount.mAcTheRoleOfTheSystem'}}</strong></td>
                <td>{{profile.userType}}
                </td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-map-marker"></span><strong> 
				<!--
				txv: Address
				-->
{{_ 'glob.Address'}}</strong></td>
                <td>{{profile.address}}, {{profile.zip}} {{profile.city}}</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-star"></span></td></tr>
        </table>
    </div>
<!--
### footer page info
-->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "manageAccount.mAcEditProfile"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "more.EditProfileA"}}</p>
		</div>
	</div>
</div>
</template>