<template name="addRealizationReportModal">
    <div id="addRRModal" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> addRealizationReportModalInner}}
            </div>
        </div>
    </div>
</template>

<template name="addRealizationReportModalInner">
    <div class="modal-header">
        <h4>
            <!--Nowy Raport Realizacyjny-->
            {{_ "addRealizationReportModalInner.addNewReportTheImplem"}}
        </h4>
    </div>
    <div class="modal-body">
        <br/>
        <form class="form-horizontal" id="addRRForm">
            <div class="form-group" id="title">
                <label class="control-label col-md-2" for="raportTitile">
                    <!--Tytuł:-->
                    {{_ "addRealizationReportModalInner.addRealTitle"}}
                </label>
                <div class="col-md-10">
                    <!--Tytuł:-->
                    <textarea class="form-control" rows="2" placeholder="{{_ 'addRealizationReportModalInner.addRealTitle'}}" id="raportTitile"
                        name="raportTitle" required></textarea>
                </div>
            </div>
            <div class="form-group" id="description">
                <label class="control-label col-md-2" for="raportDescription">
                    <!--Opis-->
                    {{_ "addRealizationReportModalInner.addDescription"}}
                </label>
                <div class="col-md-10">
                    <!--Opis-->
                    <textarea class="form-control" rows="6" placeholder="{{_ 'addRealizationReportModalInner.addDescription'}}" id="raportDescription"
                        name="raportDescription" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <!--Dodaj-->
                    <input type="submit" class="btn btn-success" id="addRR" value="{{_ 'glob.globAdd'}}">
                    <!--Anuluj-->
                    <input type="button" class="btn btn-default" id="anuluj" value="{{_ 'glob.globCancel'}}" data-dismiss="modal" >
                </div>
            </div>
        </form>
    </div>
</template>