
<template name="uzasadnienieArchiwumModal">
    <div id="uzasadnijWyborArchiwum" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> uzasadnienieArchiwumModalInner}}
            </div>
        </div>
    </div>
</template>


<template name="uzasadnienieArchiwumModalInner">
<!--{{#with kwestiaInScope}}-->
    <div class="modal-header">
        <h4>
<!--Uzasadnij propozycję-->
{{_ 'uzasadnienieArchiwumModalInner.umiUzasPro'}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p>
<!--Zamierzasz wnioskować o skierowanie tej-->
{{_ 'uzasadnienieArchiwumModalInner.umiZaWnios'}} <b>
<!--Kwestii do Archiwum-->
{{_ 'uzasadnienieArchiwumModalInner.umiKweArch'}}</b>
<!--, gdzie odsyłane są Kwestie niekoniecznie aktualne i pilne oraz oczekujące na lepsze warunki dla ich ponownego rozpatrzenia.-->
{{_ 'uzasadnienieArchiwumModalInner.umiGdziOds'}}
                </p>

                <p>
<!--Jeśli Twoja decyzja jest zgodna z takim zamiarem - podaj poniżej jej -->
{{_ 'uzasadnienieArchiwumModalInner.umiPodPoni'}} <b>
<!--uzasadnienie-->
{{_ 'uzasadnienieArchiwumModalInner.umiUzasadn'}}</b>.
                </p>

                <p>
<!--W przeciwnym wypadku naciśnij-->
{{_ 'uzasadnienieArchiwumModalInner.umiWprzWyp'}} <b>
<!--Powrót-->
{{_ 'glob.globReturn'}}</b>.
                </p>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-12">
 <!--Uzasadnij propozycję-->
<textarea class="form-control" rows="4" placeholder="{{_ 'uzasadnienieArchiwumModalInner.umiUzasadn'}}" id="uzasadnienieArchiwum"
                          name="uzasadnienieArchiwum"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
 <!--Powrót-->
<input type="submit" data-dismiss="modal" class="btn btn-default" id="anulujButton" value="{{_ 'glob.globReturn'}}"/>
 <!--Zatwierdź-->
<input type="submit" class="btn btn-danger" value="{{_ 'uzasadnienieArchiwumModalInner.umiZatwier'}}" id="zatwierdzPrzeniesDoArchiwum"/>
            </div>
        </div>
    </div>
        <!--{{/with}}-->
</template>