
<template name="uzasadnienieDeliberacjaModal">
    <div id="uzasadnijWyborWK" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> uzasadnienieDeliberacjaModalInner}}
            </div>
        </div>
    </div>
</template>


<template name="uzasadnienieDeliberacjaModalInner">
<!--{{#with kwestiaInScope}}-->
    <div class="modal-header">
        <h4>
<!--Uzasadnij propozycję-->
{{_ 'uzasadnienieDeliberacjaModalInner.udiUzasPro'}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p>
<!--Zamierzasz wnioskować o skierowanie tej -->
{{_ 'uzasadnienieDeliberacjaModalInner.udiZaWnios'}} <b>
<!--Kwestii do Deliberacji-->
{{_ 'uzasadnienieDeliberacjaModalInner.udiKweDeli'}}</b>
<!--, gdzie są Kwestie dyskutowane.-->
{{_ 'uzasadnienieDeliberacjaModalInner.udiGdziKwD'}}
                </p>

                <p>
<!--Jeśli Twoja decyzja jest zgodna z takim zamiarem - podaj poniżej jej -->
{{_ 'uzasadnienieDeliberacjaModalInner.udiPodPoni'}} <b>
<!--uzasadnienie-->
{{_ 'uzasadnienieDeliberacjaModalInner.udiUzasadn'}}</b>.
                </p>

                <p>
<!--W przeciwnym wypadku naciśnij -->
{{_ 'uzasadnienieDeliberacjaModalInner.udiWprzWyp'}} <b>
<!--Powrót-->
{{_ 'glob.globPowrot'}}</b>.
                </p>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-12">
 <!--uzasadnienie-->
<textarea class="form-control" rows="4" placeholder="{{_ 'uzasadnienieDeliberacjaModalInner.udiUzasadn'}}" id="uzasadnienieWK"
                          name="uzasadnienieWK"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
 <!--Powrót-->
<input type="submit" data-dismiss="modal" class="btn btn-default" id="anulujButton" value="{{_ 'glob.globPowrot'}}"/>
 <!--Zatwierdź-->
<input type="submit" class="btn btn-danger" value="{{_ 'uzasadnienieDeliberacjaModalInner.udiZatwier'}}" id="zatwierdzPrzeniesDoWK"/>
            </div>
        </div>
    </div>
        <!--{{/with}}-->
</template>