<!--
``client\views\kwestie\dyskusja\``uzasadnienie_kosz_modal.html
## Template of the justification for referring the issue to the trash -->
<template name="uzasadnienieKoszModal">
    <div id="uzasadnijWyborKosz" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1"
         data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> uzasadnienieKoszModalInner}}
            </div>
        </div>
    </div>
</template>
<!--
## Template as above + Inner -->
<template name="uzasadnienieKoszModalInner">
<!--{{#with kwestiaInScope}}-->
    <div class="modal-header">
        <h4>
            <!-- ``txv`` Justify the proposal -->
            {{_ 'uzasadnienieKoszModalInner.ukiExplainYourProposal'}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <!-- ``txv``  -->
                    <!--Zamierzasz wnioskować o skierowanie tej-->
                    {{_ 'uzasadnienieKoszModalInner.ukiYouIntendToApply'}} <b>
                    <!-- ``txv``  -->
                    <!--Kwestii do Kosza, -->
                    {{_ 'uzasadnienieKoszModalInner.ukiIssueToTheTrash'}}</b>
                    <!-- ``txv``  -->
                    <!--gdzie odsyłane są Kwestie nieudane, błędne, bez szans na wdrożenie. Zostaną one ostatecznie zarchiwizowane (bez możliwości wznowienia).-->
                    {{_ 'uzasadnienieKoszModalInner.ukiWhereSentBackIissuesFailed'}}
                </p>

                <p>
                    <!-- ``txv``  -->
                    <!--Jeśli Twoja decyzja jest zgodna z takim zamiarem - podaj poniżej jej "-->
                    {{_ 'uzasadnienieKoszModalInner.ukiIfYourDecisionIsConsisten'}} <b>
                    <!-- ``txv`` substantiation -->
                    {{_ 'uzasadnienieKoszModalInner.ukiBroaderJustification'}}</b>.
                </p>
                <p>
                    <!-- ``txv`` Otherwise press -->
                    {{_ 'uzasadnienieKoszModalInner.ukiOtherwisePress'}} <b>
                    <!-- ``txv`` Return -->
                    {{_ 'glob.Return'}}</b>.
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <!--
                ``txv`` substantiation -->
                <textarea
                        class="form-control"
                        rows="4"
                        placeholder="{{_ 'uzasadnienieKoszModalInner.ukiBroaderJustification'}}"
                        id="uzasadnienieKosz"
                        name="uzasadnienieKosz"
                ></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <!-- ``txv`` Return -->
                <input
                        type="submit"
                        data-dismiss="modal"
                        class="btn btn-default"
                        id="cancelButton"
                        value="{{_ 'glob.Return'}}"
                />
                <!-- ``txv`` Approve -->
                <input
                        type="submit"
                        class="btn btn-danger"
                        value="{{_ 'uzasadnienieKoszModalInner.ukiSubmit'}}"
                        id="zatwierdzPrzeniesDoKosza"
                />
            </div>
        </div>
    </div>
        <!--{{/with}}-->
</template>
