<!DOCTYPE html>
<html>
<head>
  <title>dyskusja_post.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="../../../../doc-style.css" />
  <script src="../../../../doc-filelist.js"></script>
  <script>
    var relativeDir = "../../../../";
    var thisFile = "client\\views\\kwestie\\dyskusja\\dyskusja_post.js";
    var defaultSidebar = true;
  </script>
  <script src="../../../../doc-script.js"></script>

</head>
<body>
  <div id="sidebar_wrapper">
    <div id="sidebar_switch">
      <span class="tree">Files</span>
      <span class="headings">Headings</span>
    </div>
    <div id="tree"></div>
    <div id="headings">

    </div>
  </div>
  <div id="sidebar-toggle"></div>
  <div id="container">
    <div class="background highlight"></div>
<table cellpadding="0" cellspacing="0">
  <tbody>
    
      <tr>
        <td class="docs">
          <h1>dyskusja_post.js</h1>
        </td>
        <td class="code highlight"></td>
      </tr>
    
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-1" id="section-1"></a>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">Template.discussionPostItem.created = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.colTextRV = <span class="hljs-keyword">new</span> ReactiveVar ();
    <span class="hljs-keyword">var</span> tab = [];
    <span class="hljs-keyword">this</span>.colTextRV.set ( tab );
};

Template.discussionPostItem.rendered = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    $ ( <span class="hljs-string">"#dyskusjaAnswerForm"</span> ).validate ( {
        <span class="hljs-attr">messages</span>: {
            <span class="hljs-attr">answer_message</span>: {
                <span class="hljs-attr">required</span>: fieldEmptyMessage (),
            }
        },
        <span class="hljs-attr">highlight</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> element </span>) </span>{
            highlightFunction ( element );
        },
        <span class="hljs-attr">unhighlight</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> element </span>) </span>{
            unhighlightFunction ( element );
        },
        <span class="hljs-attr">errorElement</span>: <span class="hljs-string">'span'</span>,
        <span class="hljs-attr">errorClass</span>: <span class="hljs-string">'help-block'</span>,
        <span class="hljs-attr">errorPlacement</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> error, element </span>) </span>{
            validationPlacementError ( error, element );
        }
    } )
};

Template.discussionPostItem.helpers ( {
    <span class="hljs-string">'getSimpleDate'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> date </span>) </span>{
        <span class="hljs-keyword">return</span> moment ( date ).format ( <span class="hljs-string">"YYYY-MM-DD"</span> );
    },
    <span class="hljs-string">'getFullHourDate'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> date </span>) </span>{
        <span class="hljs-keyword">return</span> moment ( date ).format ( <span class="hljs-string">"HH:mm:ss"</span> );
    },
    <span class="hljs-string">'getAnswers'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> id </span>) </span>{
        <span class="hljs-keyword">return</span> Posts.find ( {<span class="hljs-attr">idParent</span>: id, <span class="hljs-attr">isParent</span>: <span class="hljs-literal">false</span>, <span class="hljs-attr">czyAktywny</span>: <span class="hljs-literal">true</span>}, {<span class="hljs-attr">sort</span>: {<span class="hljs-attr">wartoscPriorytetu</span>: <span class="hljs-number">-1</span>} } );
    },
    <span class="hljs-string">'getAnswersCount'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> id </span>) </span>{
        <span class="hljs-keyword">return</span> Posts.find ( {<span class="hljs-attr">idParent</span>: id, <span class="hljs-attr">isParent</span>: <span class="hljs-literal">false</span>, <span class="hljs-attr">czyAktywny</span>: <span class="hljs-literal">true</span> } ).count ();
    },
    <span class="hljs-string">'getLabelClass'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> value </span>) </span>{
        <span class="hljs-keyword">return</span> value &gt;= <span class="hljs-number">0</span> ? <span class="hljs-string">"label-success"</span> : <span class="hljs-string">"label-danger"</span>;
    },
    <span class="hljs-string">'getText'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> value, id </span>) </span>{
        <span class="hljs-keyword">var</span> self = Template.instance ();

        <span class="hljs-keyword">if</span> ( value.length &lt; DISCUSSION_OPTIONS.POST_CHARACTERS_DISPLAY )
            <span class="hljs-keyword">return</span> value;
        <span class="hljs-keyword">else</span>
            <span class="hljs-keyword">return</span> isInTab ( id, self.colTextRV.get () ) ? value : value.substring ( <span class="hljs-number">0</span>, DISCUSSION_OPTIONS.POST_CHARACTERS_DISPLAY ) + <span class="hljs-string">"..."</span>;
    },
    <span class="hljs-string">'isInTab'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> id </span>) </span>{
        <span class="hljs-keyword">var</span> self = Template.instance ();
        <span class="hljs-keyword">return</span> isInTab ( id, self.colTextRV.get () );
    },
    <span class="hljs-string">'textTooLong'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> value </span>) </span>{
        <span class="hljs-keyword">return</span> value.length &lt; DISCUSSION_OPTIONS.POST_CHARACTERS_DISPLAY ? <span class="hljs-literal">false</span> : <span class="hljs-literal">true</span>;
    },
    <span class="hljs-string">'isDoArchiwum'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
        <span class="hljs-keyword">var</span> p = Posts.findOne ( { <span class="hljs-attr">_id</span>: <span class="hljs-keyword">this</span>.idPost } );
        <span class="hljs-keyword">if</span> ( p ) {
            <span class="hljs-keyword">if</span> ( p.postType == POSTS_TYPES.ARCHIWUM ) <span class="hljs-keyword">return</span> <span class="hljs-literal">true</span>;
            <span class="hljs-keyword">else</span> <span class="hljs-keyword">return</span> <span class="hljs-literal">false</span>;
        }
    },
    <span class="hljs-string">'isDoKosza'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
        <span class="hljs-keyword">var</span> p = Posts.findOne ( { <span class="hljs-attr">_id</span>: <span class="hljs-keyword">this</span>.idPost } );
        <span class="hljs-keyword">if</span> ( p ) {
            <span class="hljs-keyword">if</span> ( p.postType == <span class="hljs-string">"kosz"</span> ) <span class="hljs-keyword">return</span> <span class="hljs-literal">true</span>;
            <span class="hljs-keyword">else</span> <span class="hljs-keyword">return</span> <span class="hljs-literal">false</span>;
        }
    },
    <span class="hljs-string">'isRaportRealizacyjny'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
        <span class="hljs-keyword">var</span> p = Posts.findOne ( { <span class="hljs-attr">_id</span>: <span class="hljs-keyword">this</span>.idPost } );
        <span class="hljs-keyword">if</span> ( p )
            <span class="hljs-keyword">return</span>  ( p.postType == POSTS_TYPES.RAPORT ) ? <span class="hljs-literal">true</span>: <span class="hljs-literal">false</span>;
    },
    <span class="hljs-string">'isDoWK'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
        <span class="hljs-keyword">var</span> p = Posts.findOne ( { <span class="hljs-attr">_id</span>: <span class="hljs-keyword">this</span>.idPost } );
        <span class="hljs-keyword">if</span> ( p ) {
            <span class="hljs-keyword">if</span> ( p.postType == <span class="hljs-string">"deliberacja"</span> ) <span class="hljs-keyword">return</span> <span class="hljs-literal">true</span>;
            <span class="hljs-keyword">else</span> <span class="hljs-keyword">return</span> <span class="hljs-literal">false</span>;
        }
    }
 } );

Template.discussionPostItem.events ( {
    <span class="hljs-string">'click #rozwinText'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> e </span>) </span>{
        <span class="hljs-keyword">var</span> id = e.target.name;
        <span class="hljs-keyword">var</span> self = Template.instance ();
        <span class="hljs-keyword">var</span> itemTab = self.colTextRV.get ();
        <span class="hljs-keyword">var</span> flag = <span class="hljs-literal">false</span>;
        <span class="hljs-keyword">if</span> ( !isInTab ( id, itemTab ) ) {
            itemTab.push ( id );
            self.colTextRV.set ( itemTab );
        }
    },
    <span class="hljs-string">'click #zwinText'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> e </span>) </span>{
        <span class="hljs-keyword">var</span> self = Template.instance ();
        <span class="hljs-keyword">var</span> itemTab = self.colTextRV.get ();
        <span class="hljs-keyword">var</span> id = e.target.name;
        itemTab.forEach ( <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> item </span>) </span>{
            <span class="hljs-keyword">if</span> ( id == item )
                itemTab.splice ( itemTab.indexOf ( item ), <span class="hljs-number">1</span> );
        } );
        self.colTextRV.set ( itemTab );
    }
 } );

Template.discussionAnswerForm.events ( {
    <span class="hljs-string">'submit #dyskusjaAnswerForm'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> e </span>) </span>{
        e.preventDefault ();

        <span class="hljs-keyword">var</span> isAllowed=referenceIsAllowedToInsert ( $ ( e.target ).find ( <span class="hljs-string">'[name=idPost]'</span> ).val () );
        <span class="hljs-keyword">if</span> ( isAllowed==<span class="hljs-literal">true</span> ) {
            <span class="hljs-keyword">var</span> wiadomosc = $ ( e.target ).find ( <span class="hljs-string">'[id=answer_message]'</span> ).val ();
            <span class="hljs-keyword">var</span> idKwestia = $ ( e.target ).find ( <span class="hljs-string">'[name=idKwestiaAnswer]'</span> ).val ();
            <span class="hljs-keyword">var</span> idParent = $ ( e.target ).find ( <span class="hljs-string">'[name=idPost]'</span> ).val ();
            <span class="hljs-keyword">var</span> idUser = Meteor.userId ();
            <span class="hljs-keyword">var</span> addDate = <span class="hljs-keyword">new</span> <span class="hljs-built_in">Date</span> ();
            <span class="hljs-keyword">var</span> isParent = <span class="hljs-literal">false</span>;
            <span class="hljs-keyword">var</span> czyAktywny = <span class="hljs-literal">true</span>;
            <span class="hljs-keyword">var</span> userFullName = Meteor.user ().profile.fullName;
            <span class="hljs-keyword">var</span> ratingValue = <span class="hljs-number">0</span>;
            <span class="hljs-keyword">var</span> glosujacy = [];

            <span class="hljs-keyword">var</span> post = [{
                <span class="hljs-attr">idKwestia</span>: idKwestia,
                <span class="hljs-attr">wiadomosc</span>: wiadomosc,
                <span class="hljs-attr">idUser</span>: idUser,
                <span class="hljs-attr">userFullName</span>: userFullName,
                <span class="hljs-attr">addDate</span>: addDate,
                <span class="hljs-attr">isParent</span>: isParent,
                <span class="hljs-attr">idParent</span>: idParent,
                <span class="hljs-attr">czyAktywny</span>: czyAktywny,
                <span class="hljs-attr">wartoscPriorytetu</span>: ratingValue,
                <span class="hljs-attr">glosujacy</span>: glosujacy
            }];

            Meteor.call ( <span class="hljs-string">'addPostAnswer'</span>, post, <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> error, ret </span>) </span>{
                <span class="hljs-keyword">if</span> ( error ) {
                    <span class="hljs-keyword">if</span> ( <span class="hljs-keyword">typeof</span> Errors === <span class="hljs-string">"undefined"</span> )
                        Log.error ( TAPi18n.__ ( <span class="hljs-string">'txv.ERROR'</span> ) + error.reason );
                    <span class="hljs-keyword">else</span>
                        throwError ( error.reason );
                } <span class="hljs-keyword">else</span> {
                    <span class="hljs-built_in">document</span>.getElementsByName ( <span class="hljs-string">"answer_message"</span> + idParent )[<span class="hljs-number">0</span>].value = <span class="hljs-string">""</span>;
                }
            } );
        }
        <span class="hljs-keyword">else</span>
            notificationPauseWarning ( <span class="hljs-string">"odniesień"</span>,isAllowed );
    }
 } );

Template.discussionAnswerItem.created = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.colTextAnswerRV = <span class="hljs-keyword">new</span> ReactiveVar ();
    <span class="hljs-keyword">var</span> tab = [];
    <span class="hljs-keyword">this</span>.colTextAnswerRV.set ( tab );
};

Template.discussionAnswerItem.helpers ( {
    <span class="hljs-string">'getSimpleDate'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> date </span>) </span>{
        <span class="hljs-keyword">return</span> moment ( date ).format ( <span class="hljs-string">"YYYY-MM-DD"</span> );
    },
    <span class="hljs-string">'getFullHourDate'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> date </span>) </span>{
        <span class="hljs-keyword">return</span> moment ( date ).format ( <span class="hljs-string">"HH:mm:ss"</span> );
    },
    <span class="hljs-string">'getLabelClass'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> value </span>) </span>{
        <span class="hljs-keyword">return</span> value &gt;= <span class="hljs-number">0</span> ? <span class="hljs-string">"label-success"</span> : <span class="hljs-string">"label-danger"</span>;
    },
    <span class="hljs-string">'getAnswerText'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> value, id </span>) </span>{
        <span class="hljs-keyword">var</span> self = Template.instance ();
        <span class="hljs-keyword">if</span> ( value.length &lt; DISCUSSION_OPTIONS.POST_CHARACTERS_DISPLAY )
            <span class="hljs-keyword">return</span> value;
        <span class="hljs-keyword">else</span>
            <span class="hljs-keyword">return</span> isInTab ( id, self.colTextAnswerRV.get () ) ? value : value.substring ( <span class="hljs-number">0</span>, DISCUSSION_OPTIONS.POST_ANSWER_CHARACTERS_DISPLAY ) + <span class="hljs-string">"..."</span>;
    },
    <span class="hljs-string">'isAnswerInTab'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> id </span>) </span>{
        <span class="hljs-keyword">var</span> self = Template.instance ();
        <span class="hljs-keyword">return</span> isInTab ( id, self.colTextAnswerRV.get () );
    },
    <span class="hljs-string">'textAnswerTooLong'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> value </span>) </span>{
        <span class="hljs-keyword">return</span> value.length &lt; DISCUSSION_OPTIONS.POST_CHARACTERS_DISPLAY ? <span class="hljs-literal">false</span> : <span class="hljs-literal">true</span>;
    }
 } );

Template.discussionAnswerItem.events ( {
    <span class="hljs-string">'click #rozwinTextAnswer'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> e </span>) </span>{
        <span class="hljs-keyword">var</span> id = e.target.name;
        <span class="hljs-keyword">var</span> self = Template.instance ();
        <span class="hljs-keyword">var</span> itemTab = self.colTextAnswerRV.get ();
        <span class="hljs-keyword">if</span> ( !isInTab ( id, itemTab ) ) {
            itemTab.push ( id );
            self.colTextAnswerRV.set ( itemTab );
        }
    },
    <span class="hljs-string">'click #zwinTextAnswer'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> e </span>) </span>{
        <span class="hljs-keyword">var</span> self = Template.instance ();
        <span class="hljs-keyword">var</span> itemTab = self.colTextAnswerRV.get ();
        <span class="hljs-keyword">var</span> id = e.target.name;
        itemTab.forEach ( <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> item </span>) </span>{
            <span class="hljs-keyword">if</span> ( id == item )
                itemTab.splice ( itemTab.indexOf ( item ), <span class="hljs-number">1</span> );
        } );
        self.colTextAnswerRV.set ( itemTab );
    }
 } );

Template.discussionAnswerForm.helpers ( {
    <span class="hljs-attr">hasUserRights</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
        <span class="hljs-keyword">if</span> ( !Meteor.userId () )
            <span class="hljs-keyword">return</span> <span class="hljs-literal">false</span>;
        <span class="hljs-keyword">var</span> kwestia=Kwestia.findOne ( { <span class="hljs-attr">_id</span>:<span class="hljs-keyword">this</span>.idKwestia } );
        <span class="hljs-keyword">if</span> ( kwestia )
            <span class="hljs-keyword">return</span> kwestia.status == KWESTIA_STATUS.GLOSOWANA || kwestia.status == KWESTIA_STATUS.ZREALIZOWANA ||
               kwestia.status == KWESTIA_STATUS.OCZEKUJACA || kwestia.czyAktywny==<span class="hljs-literal">false</span> ? <span class="hljs-literal">false</span> : <span class="hljs-literal">true</span>;
    }
 } );

referenceIsAllowedToInsert=<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> idParent </span>) </span>{
    <span class="hljs-keyword">var</span> myPosts=Posts.find ( {<span class="hljs-attr">idUser</span>:Meteor.userId (),<span class="hljs-attr">isParent</span>: <span class="hljs-literal">false</span>, <span class="hljs-attr">idKwestia</span>:<span class="hljs-keyword">this</span>.idKwestia.value,<span class="hljs-attr">idParent</span>:idParent},{<span class="hljs-attr">sort</span>:{<span class="hljs-attr">addDate</span>:<span class="hljs-number">1</span>} } );
    <span class="hljs-keyword">if</span> ( myPosts.count ()&gt;<span class="hljs-number">0</span> ) {
        <span class="hljs-keyword">var</span> array=[];
        myPosts.forEach ( <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> post </span>) </span>{
            array.push ( post );
        } );
        array= ( _.sortBy ( array,<span class="hljs-string">'addDate'</span> ) ).reverse ();
        <span class="hljs-keyword">var</span> lastAddedReferenceTime= ( _.first ( array ) ).addDate;
        <span class="hljs-keyword">var</span> params=Parametr.findOne ();
        <span class="hljs-keyword">if</span> ( params )
            <span class="hljs-keyword">return</span> checkTimePause ( params.addReferencePause,lastAddedReferenceTime );
    }
    <span class="hljs-keyword">else</span> <span class="hljs-keyword">return</span> <span class="hljs-literal">true</span>;
};

</pre>
        </td>
      </tr>
    
  </tbody>
</table>

  </div>
</body>
</html>
