<template name="notificationList">
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                {{> reactiveTable
                class = "table table-bordered table-hover"
                fields = settings.fields
                settings = settings
                collection = "PowiadomieniaList"
                }}
            </div>
        </div>
    </div>
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "dym.dymNotifications"}} </div>
	<div id="container">
		<div class="footer_center">
					<br /><br />
		<p>{{_ "more.moreNotificationsA"}}</p>
			<p>{{_ "more.moreNotificationsB"}}</p>
			<p>{{_ "more.moreNotificationsC"}}</p>
		</div>
	</div>
</div>
</template>


<template name="tematLink">
    <a href="{{ pathFor 'notificationInfo'}}">{{notificationTitle}}</a>
</template>


<template name="dataWpr">
    {{date}}
</template>
