<template name="glosowanie">
    <div class="main">
        <div class="row">
           <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = "GlosowanieList"
                    }}
            </div>
        </div>
    </div>
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "dym.Voting"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "more.moreVotingA"}}</p>
			<p>{{_ "more.moreVotingB"}}</p>
			<p>{{_ "more.moreVotingC"}}</p>
			<p>{{_ "more.moreVotingD"}}</p>
			<p>{{_ "more.moreVotingE"}}</p>
		</div>
	</div>
</div>
</template>


<template name="dataGlosowaniaKwestia">
    {{date}}
</template>