<!--
``client\views\głosowanie\``glosowanie.html
## Template list of voted issues -->
<template name="glosowanie">
    <div class="main">
        <div class="row">
           <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = "GlosowanieList"
                    }}
            </div>
        </div>
    </div>
<!--
### footer page info
-->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "dym.Voting"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "more.VotingA"}}</p>
			<p>{{_ "more.VotingB"}}</p>
			<p>{{_ "more.VotingC"}}</p>
			<p>{{_ "more.VotingD"}}</p>
			<p>{{_ "more.VotingE"}}</p>
		</div>
	</div>
</div>
</template>
<!--
## The date template when the Issue will be voted -->
<template name="dataGlosowaniaKwestia">
    {{date}}
</template>