<!-- SDD - Szablon | Panel ??? -->
<template name="addRodzajForm">
    <div class="main">
        <legend>
<!--Dodaj Rodzaj-->
{{_ "addRodzajForm.adfAddType"}}</legend>
        <div class="row">
            <div class="col col-md-10">
                <form class="form-horizontal" data-toggle="validator" role="form" id="rodzajForm">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputNazwaRodzaj">
<!--Nazwa Rodzaju-->
{{_ "addRodzajForm.adfNameOfType"}}:</label>

                        <div class="col-xs-9">
<!--Nazwa Rodzaju (np. wniosek, uchwała, propozycja, zapytanie itp.)-->
<input name="nazwaRodzaj" type="text" class="form-control required" id="inputNazwaRodzaj" placeholder="{{_ 'addRodzajForm.adfNameOfTypeForExamp'}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputEmail">
<!--Czas dyskusji:-->
{{_ "addRodzajForm.adfTimeDebate"}}</label>

                        <div class="col-xs-9">
<!--Czas dyskusji (dni). Domyślnie 7 dni-->
<input name="czasDyskusji" type="number" class="form-control" id="czasDyskusji" placeholder="{{_ 'addRodzajForm.adfTimeDebateDays'}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputCzasGlosowania">
<!--Czas głosowania:-->
{{_ "addRodzajForm.adfTimeToVote"}}</label>

                        <div class="col-xs-9">
<!--Czas głosowania (h). Domyślnie 24 h.-->
<input name="czasGlosowania" type="text" class="form-control" id="czasGlosowania" placeholder="{{_ 'addRodzajForm.adfVotingTimeDefault'}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="inputWymaganeKworum">
<!--Wymagane kworum:-->
{{_ "addRodzajForm.adfTheRequiredQuorum"}}</label>

                        <div class="col-xs-9">
                            <select id="kworumSelect" name="kworumSelect" class="form-control required">
                                <option value="">
<!--Wybierz-->
{{_ "glob.gloWybierz"}}</option>
                                    <option value="zwykla">
<!--Kwestia zwykła-->
{{_ "addRodzajForm.adfTheIssueOfOrdinary"}}</option>
                                    <option value="statutowa">
<!--Kwestia statutowa-->
{{_ "addRodzajForm.adfTheIssueOfStatutory"}}</option>
                            </select>
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
<!--Zapisz-->
<input type="submit" class="btn btn-primary" value="{{_ 'glob.globSave'}}">
<!--Anuluj-->
<input type="reset" class="btn btn-default" value="{{_ 'glob.globCancel'}}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
