<template name="hibernowaneList">
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                {{> reactiveTable
                class = "table table-bordered table-hover"
                fields = settings.fields
                settings = settings
                collection = "HibernowaneList"
                }}
            </div>
        </div>
    </div>
<!--
### footer page info
-->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "dym.Hibernating"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "dym.HibernatingA"}}</p>
			<p>{{_ "dym.HibernatingB"}}</p>
			<p>{{_ "dym.HibernatingC"}}</p>
		</div>
	</div>
</div>
</template>

<template name="nazwaKwestiiHibernowaneLink">
    <a href="{{ pathFor 'informacjeKwestia'}}">{{this.kwestiaNazwa}}</a>
</template>


<template name="tematKwestiiHibernowane">
    {{getTemat idTemat}}
</template>


<template name="rodzajKwestiiHibernowane">
    {{getRodzaj idRodzaj}}
</template>