
<template name="adminTemplate">
    <br/>

    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
<!--Panel ustawień regionalnych.-->
{{_ 'adminTemplate.admPanUreg'}}
                <br/><br/>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
<!--Statystyki systemu-->
{{_ 'adminTemplate.admStatSys'}}</h3>
            </div>
            <div class="panel-body">
                <p>
<!--Informacje o ilości danych w systemie.-->
{{_ 'adminTemplate.admInfDany'}}</p>
            </div>
            <div class="list-group">
                <a href="{{pathFor 'listUsers'}}" class="list-group-item">
<!--Użytkownicy-->
{{_ 'adminTemplate.admUzytkow'}} <span
                        class="badge">{{usersCount}}</span>
                </a>
                <a href="{{pathFor 'listTemat'}}" class="list-group-item">
<!--Tematy-->
{{_ 'adminTemplate.admiTematy'}} <span
                        class="badge">{{tematyCount}}</span>
                </a>
                <a href="{{pathFor 'listRodzaj'}}" class="list-group-item">
<!--Rodzaje-->
{{_ 'adminTemplate.admRodzaje'}} <span
                        class="badge">{{rodzajeCount}}</span>
                </a>
                <a href="{{pathFor 'listParametr'}}" class="list-group-item">
<!--Parametry-->
{{_ 'adminTemplate.admParamet'}} <span
                        class="badge">{{parametryCount}}</span>
                </a>
                <a href="{{pathFor 'listRaport'}}" class="list-group-item">
<!--Raporty-->
{{_ 'adminTemplate.admRaporty'}} <span
                        class="badge">{{raportyCount}}</span>
                </a>
                <a href="{{pathFor 'listKwestia'}}" class="list-group-item">
<!--Kwestie-->
{{_ 'adminTemplate.admKwestie'}}<span
                        class="badge">{{kwestieCount}}</span>
                </a>
            </div>
            <div style="padding: 5px;">
                {{>columnDemo}}
            </div>
        </div>
    </div>
</template>


<template name="columnDemo">
    <div id="container-column"></div>
</template>