<template name="archiwumList">
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = "ArchiwumList"
                    }}
            </div>
        </div>
    </div>
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "more.ArchiIssues"}} </div>
	<div id="container">
		<div class="footer_center">
						<br /><br />
		<p>{{_ "more.ArchiIssuesA"}}</p>
		</div>
	</div>
</div>
</template>

<template name="nazwaKwestiiArchiwumLink">
    <a href="{{ pathFor 'informacjeKwestia'}}">{{this.kwestiaNazwa}}</a>
</template>

<template name="tematKwestiiArchiwum">
    {{getTemat idTemat}}
</template>

<template name="rodzajKwestiiArchiwum">
    {{getRodzaj idRodzaj}}
</template>