<template name="realizacjaTab1">
        <div class="main">
            <div class="row">
                <div class="col-md-12">

                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = "RealizacjaList"
                    }}

                </div>
            </div>
        </div>
    {{>GlobalNotifications}}
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "realizacjaTab1.pinfoDuringImplementation"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "more.moreDuringImpA"}}</p>
			<p>{{_ "more.moreDuringImpB"}}</p>
			<p>{{_ "more.moreDuringImpC"}}</p>
			<p>{{_ "more.moreDuringImpD"}}</p>
		</div>       
	</div>
</div>
</template>


<template name="editColumnRealization">
<!--Drukuj Uchwałę do pliku PDF-->
	<a id="printResolution" data-toggle="tooltip" data-placement="top" title="{{_ 'editColumnRealization.retResolutionPrintToPDF'}}"> <i class="glyphicon glyphicon-print clickable"></i>
    </a>
</template>


<template name="listKwestiaRealzacjaColumnLabel">
    <span data-toggle="tooltip" title="{{title}}">{{text}}</span>
</template>


<template name="dataRealizKwestia">
    {{date}}
</template>


<template name="numerUchwKwestia">
    {{number}}
</template>


<template name="raport">
    {{#if hasZR}}
        {{#if reportCurrentDurationExists raporty}}
            {{#with currentReport raporty}}
                <a href="{{pathFor 'informacjeRaport'}}">
<!--Pokaż-->
{{_ 'raport.raporShow'}}</a>
            {{/with}}
        {{else}}
            <a href="#" id="showReport">
<!--Pokaż-->
{{_ 'raport.raporShow'}}</a>
        {{/if}}
    {{/if}}
</template>