<template name="realizacjaTab2">
    <div class="main">
            <div class="row">
                <div class="col-md-12">

                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = "ZrealizowaneList"
                    }}

                </div>
            </div>
    </div>
<div class="footer">
  <div id="button">{{_ "glob.globYouHere"}}  {{_ "realizacjaTab2.pinfoCompletedImplementation"}} </div>
	<div id="container">
		<div class="footer_center">
						<br /><br />
		<p>{{_ "more.moreComplImplA"}}</p>
		<p>{{_ "more.moreComplImplB"}}</p>
		</div>
	</div>
</div>
</template>