<template name="realizacjaTab2">
    <div class="main">
<div class="pinfo-realiz">{{_ "glob.globYouHere"}}: <b>{{_ "realizacjaTab2.pinfoCompletedImplementation"}}</b>  
	<a data-toggle="modal" href="#zrealiza"><button>{{_ "glob.globInfo"}}
	</button></a></div>
                <div class="modal fade" id="zrealiza" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <p class="modal-title">
                                    {{_ "realizacjaTab2.pinfoCompletedImplementation"}}
                                </p>
                            </div>
                            <div class="modal-body"><small>
                                <p>{{_ "realizacjaTab2.pinfoCompletedImplemA"}}</p>
								<p>{{_ "realizacjaTab2.pinfoCompletedImplemB"}}</p>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
        <!--{{#if ZrealizowaneListCount}}-->
            <div class="row">
                <div class="col-md-12">

                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = "ZrealizowaneList"
                    }}

                </div>
            </div>
        <!--{{else}}-->
            <!--<label>Brak Kwestii</label>-->
        <!--{{/if}}-->
    </div>
</template>