<template name="addLanguage">
    <div class="main">
        <legend>
<!--Dodaj język-->
{{_ "addLanguage.AddLangua"}}</legend>
        <div class="row">
            <div class="col col-md-10">
                <form class="form-horizontal" id="languageForm">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="languageName">
<!--Nazwa języka: -->
{{_ "addLanguage.LanguageName"}}</label>

                        <div class="col-xs-9">
<!--Nazwa (np. polski, angielski itp.)-->
<input name="languageName" type="text" class="form-control" id="languageName" placeholder="{{_ 'addLanguage.NameForExampleEnglish'}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="languageShortName">
<!--Skrót: -->
{{_ "addLanguage.Abbreviation"}}</label>

                        <div class="col-xs-9">
<!--Skrót (np. pl, en, itp...)-->
<input name="languageShortName" type="text" class="form-control" id="languageShortName" placeholder="{{_ 'addLanguage.ShortcutForExample_en'}}" required>
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
<!--Zapisz-->
<input type="submit" class="btn btn-primary" value="{{_ 'glob.globSave'}}">
<!--Anuluj-->
<input type="reset" class="btn btn-default" value="{{_ 'glob.globCancel'}}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div class="footer">
  <div id="button">{{_ "glob.globYouHere"}} addLanguage </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
		</div>
	</div>
</div>
</template>