<!--
``client\views\admin\jezyki\``list_languages.html
## Language list template -->
<template name="listLanguages">
    {{#if currentUser}}
        <div class="main">
            <div class="row">
                <div class="col col-md-6">
                    <div class="input-group">
					
                        <a href="{{pathFor 'addLanguage'}}" class="btn btn-primary"> <i class="fa fa-plus"></i> {{_ "glob.Add"}} </a>
&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="{{pathFor 'transLanguage'}}" class="btn btn-primary"> <i class="fa fa-retweet"></i> {{_ "language.translate"}}</a>
						
                    </div>
                </div>
            </div>
            <legend>
				<!--
				``txv`` Language list -->
{{_ "listLanguages.listOfLanguages"}}</legend>
            <div class="row">
                <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = languages
                    }}
                </div>
            </div>
        </div>
    {{/if}}
<!--
### footer page info `` label `` LIST OF LANGUAGES -->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "listLanguages.Label"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "listLanguages.listOfLanguagesA"}}</p>
			<p>{{_ "listLanguages.listOfLanguagesB"}}</p>
			<p>{{_ "listLanguages.listOfLanguagesC"}}</p>
		</div>
	</div>
</div>
</template>
<!--
## Template for setting language options -->
<template name="languageOptions">
    <div class="pull-right">
<!--
### In case the language is available ... -->
        {{#if isLangEnabled _id}}
				<!--
				``txv`` Turn off the language -->
<button class="btn btn-default btn-xs" id="hideLang" data-toggle="tooltip" title="{{_ 'languageOptions.loOff'}}"
                    name="{{_id}}">
                 <i class="fa fa-toggle-on" name="{{_id}}"></i>
            </button>
        {{else}}
				<!--
				``txv`` Turn on the language -->
<button class="btn btn-default btn-xs" id="launchLang" data-toggle="tooltip" title="{{_ 'languageOptions.loOn'}}"
                    name="{{_id}}">
{{_ "languageOptions.loOn"}} <i class="fa fa-toggle-off" name="{{_id}}"></i>
            </button>
        {{/if}}
				<!--
				``txv`` Edit language -->
<a class="btn btn-default btn-xs" data-toggle="tooltip" title="{{_ 'languageOptions.EdytujJezy'}}"
           href="{{ pathFor 'editLanguage' _id}}">
{{_ "glob.Edit"}} <i class="fa fa-edit"></i></a>
    </div>
</template>
<!--
## Language name template -->
<template name="nameLanguage">
    {{languageName}}
</template>
<!--
## Abbreviated Language Template -->
<template name="shortNameLanguage">
    {{shortName}}
</template>