<!--
``client\views\layout\``guide.html
## Template for Guide -->
<template name="guide">
	<div class="main" >
		<div class="row">
			<div class="col-lg-12 ">
<h3>{{_ "glob.Guide"}}</h3>
			
<div><a  class="btn btn-primary btn-xs" data-toggle="collapse" href="#g0001" aria-expanded="false" aria-controls="g0001">
    {{_ "ques.WhatIsIt"}} </a></div> <div aria-expanded="true"  class="collapse" id="g0001">   <div class="card card-body">
    {{_ "dym.AboutSystemB"}} 
  </div></div>
			
<div><a class="btn btn-primary btn-xs"  data-toggle="collapse" href="#g0002" aria-expanded="false" aria-controls="g0002">
    Jak działa, jakie funkcje zapewnia SDD? </a></div> <div class="collapse" id="g0002">   <div class="card card-body">
    2 Opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis o.
  </div></div>
			
<div><a class="btn btn-primary btn-xs"  data-toggle="collapse" href="#g0003" aria-expanded="false" aria-controls="g0003">
    Jakiś temat3 </a></div> <div class="collapse" id="g0003">   <div class="card card-body">
    3 Opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis o.
  </div></div>
			
			</div>
		</div>
	</div>


<!--
### footer page info `` label `` GUIDE -->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "glob.Guide"}} </div>
	<div id="container">
		<div class="footer_center">
					<p>{{_ "more.GuideA"}}</p>
					<p>{{_ "more.GuideB"}}</p>
					<p>{{_ "more.GuideC"}}</p>
		</div>
	</div>
</div>

<script>

</script>
 

</template>
