<!--
``client\views\layout\``guide.html
## Template for Guide -->
<template name="guide">
	<div class="main" >
		<div class="row">
			<div class="col-lg-12 ">
<h3><center>{{_ "glob.Guide"}}</center></h3>
<h4>{{_ "glob.GeneralInformation"}}</h4>
			
<div><a  class="btn btn-primary btn-xs" data-toggle="collapse" href="#g0001" aria-expanded="false" aria-controls="g0001">
    {{_ "ques.WhatIsIt"}} </a></div> <div aria-expanded="true"  class="collapse" id="g0001">   <div class="card card-body">
    {{_ "dym.AboutSystemB"}} 
  </div></div>
			
<div><a class="btn btn-primary btn-xs"  data-toggle="collapse" href="#g0002" aria-expanded="false" aria-controls="g0002">
    Jak działa, jakie funkcje zapewnia SDD? </a></div> <div class="collapse" id="g0002">   <div class="card card-body">
    2 Opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis o.
  </div></div>
			
<div><a class="btn btn-primary btn-xs"  data-toggle="collapse" href="#g0003" aria-expanded="false" aria-controls="g0003">
    Jakiś temat3 </a></div> <div class="collapse" id="g0003">   <div class="card card-body">
    3 Opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis o.
  </div></div>



<h4>{{_ "glob.SystemPanels"}}</h4>


 <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#kwe">{{_ "dym.Issues"}}</a></li>
    <li><a data-toggle="tab" href="#glo">{{_ "dym.Voting"}}</a></li>
    <li><a data-toggle="tab" href="#rea">{{_ "dym.Implement"}}</a></li>
    <li><a data-toggle="tab" href="#arc">{{_ "dym.INarchi"}}</a></li>
  </ul>

  <div class="tab-content">
		<div id="kwe" class="tab-pane fade in active">
				<div><a  class="btn btn-primary btn-xs" data-toggle="collapse" href="#k0001" aria-expanded="false" aria-controls="k0001">
					{{_ "header.heaIssues"}} </a></div> <div aria-expanded="true"  class="collapse" id="k0001">   <div class="card card-body">
					{{_ "dym.AboutSystemB"}} 
				  </div></div>
							
				<div><a class="btn btn-primary btn-xs"  data-toggle="collapse" href="#k0002" aria-expanded="false" aria-controls="k0002">
					Jak? </a></div> <div class="collapse" id="k0002">   <div class="card card-body">
					Opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis opis o.
				  </div></div>
							
				<div><a class="btn btn-primary btn-xs"  data-toggle="collapse" href="#k0003" aria-expanded="false" aria-controls="k0003">
					Jakiś </a></div> <div class="collapse" id="k0003">   <div class="card card-body">
					Opis opis opis opis opis opis opis opis opis opis opis opis opis o.
				  </div></div>
		</div>
		<div id="glo" class="tab-pane fade">
		glo    
		</div>
		<div id="rea" class="tab-pane fade">
		rea    
		</div>
		<div id="arc" class="tab-pane fade">
		arc
		</div>
    </div>

  
		</div>
	</div>
</div>



<!--
### footer page info `` label `` GUIDE -->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "glob.Guide"}} </div>
	<div id="container">
		<div class="footer_center">
					<p>{{_ "more.GuideA"}}</p>
					<p>{{_ "more.GuideB"}}</p>
					<p>{{_ "more.GuideC"}}</p>
		</div>
	</div>
</div>

<script>

</script>
 

</template>
