	<template name="mainpage">
		<div class="main">
			<div class="row">
				<div class="col-md-12">
					<div class="mainmain">
						<p class="fontSizeBig">{{_ "glob.ShortSystemName"}}</p>
						<p class="fontSizeMore">{{_ "more.fullNameSystem"}}</p>
						<p class="fontSizeMoreSmall">{{_ "more.descriptionOfTheSystem"}}</p>
<!-- wył. do czasu usun. usterki						<a class="btn btn-info" id="wievMap"><i class="fa fa-map"></i> mapa</a>
-->
						<i class="fa fa-hand-o-left"> </i> <a class="btn btn-info" id="guide"> {{_ "glob.Guide"}} </a> <i class="fa fa-hand-o-right"> </i>
					</div>
				</div>
			</div>
			<div>
				<center>
					- - T E S T - -
				</center>
			</div>
		</div>

        {{> GlobalNotifications}}
<!--
### footer page info `` label `` MAIN PAGE -->
		<div class="footer">
			<div id="button">
				<i class="fa fa-info-circle"></i> &nbsp; {{_ "more.onMainPage"}}
			</div>
			<div id="container">
				<div class="footer_center">
					<p>{{_ "dym.AboutSystemA"}}</p>
					<p>{{_ "dym.AboutSystemB"}}</p>
					<p>{{_ "dym.AboutSystemC"}}</p>
					<p>{{_ "dym.AboutSystemD"}}</p>
				</div>
			</div>
		</div>
	</template>
