<template name="map">
<div class="main">
	<div class="row">
		<div class="col-md-12">
			<div class="mainmain">
			
				{{#if currentUser}}
				{{#if isZwyczajnyLogged}}

			<p class="fontSizeMore">M A P A</p>
			<br><br><br>
			<p>Tu będzie ukazana lokalizacja użytkowników, a docelowo całej sieci SDD</p>
			
				{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
</div>
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  MAPA </div>
	<div id="container">
			<div class="footer_center">
				<p>mapa1</p>
				<p>mapa2</p>
				<p>mapa3</p>
			</div>
	</div>
</div>
</template>