<template name="map">
<div class="main">
	<div class="row">
		<div class="col-md-12">
			<div class="mainmain">
			
				{{#if currentUser}}
				{{#if isZwyczajnyLogged}}

			<p class="fontSizeMore">M A P A</p>
			<br><br><br>
			<p>Tu użytkownik zobaczy mapę instancji 
			<br>(organizacji używających poszczególne SDD) 
			<br> rozlokowanych na podstawie danych adresowych 
			<br>
			(tutaj dołożymy wymagane dla mapy dane: http://sdd.ha.pl/settings)
	<br>Na teraz to będzie oczywiście jedna (proSDD).
<br><br>Po kliknięciu w instancję 
<br>wejdzie się w mapę z rozlokowaniem użytkowników wybranego SDD. </p>
			
				{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
</div>
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  MAPA </div>
	<div id="container">
			<div class="footer_center">
				<p>mapa1</p>
				<p>mapa2</p>
				<p>mapa3</p>
			</div>
	</div>
</div>
</template>