<template name="addTopicModal">
    <div id="addTopicModalId" class="modal fade" tabindex="-1" data-width="760"  style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> addTopicModalInner}}
            </div>
        </div>
    </div>
</template>

<template name="addTopicModalInner">
    <div class="modal-header">
        <h4>
<!--Dodaj temat-->
{{_ "addTopicModalInner.aToMdoTema"}}</h4>
    </div>
    <div class="modal-body" id="modalBody">
        <div class="row">
            <div class="col-md-12">
 <!--Temat-->
<input class="form-control" name="topicName" maxlength="85" id="topicName" placeholder="{{_ 'glob.globTopic'}}" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
 <!--Opis-->
<textarea class="form-control" rows="3" name="topicDescription" maxlength="410" id="topicDescription" placeholder="{{_ 'addTopicModalInner.aToModOpis'}}" required></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
<!--Dodaj-->
<input type="button" class="btn btn-success" id="addTopicModalBtn" value="{{_ 'glob.globaDodaj'}}"/>
<!--Powrót-->
<input type="button" data-dismiss="modal" class="btn btn-default" value="{{_ 'glob.globReturn'}}"/>
                </div>
            </div>
        </div>
    </div>
</template>