<template name="addKwestiaForm">
	<div class="main">
		<div class="row">
			<div class="col col-md-10">
				<form class="form-horizontal" id="kwestiaForm">
					<section class="dymek">
						<small>
							<legend>
								<!--Dodaj Kwestię-->{{_ "addKwestiaForm.akfAddIssue"}}
							</legend>
						</small>
						<ul>
							<a data-toggle="modal" href="#addKwestia">
								<small class="fontSizeSmall">
									<!--Sprawdź istniejące...-->{{_ "dym.dymCheckExisting"}}
									<sub class="fa fa-external-link"></sub>
								</small>
							</a>
						</ul>
						<div class="modal fade" id="addKwestia" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<p class="modal-title">{{_ "dym.dymCheckExistingIssues"}}
										</p>
									</div>
									<div class="modal-body">
										<p>{{_ "dym.dymCheckExistingIssuesA"}}</p>
										<p><strong>{{_ "dym.dymCheckExistingIssuesB"}}</strong></p>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="form-group" id="kwestiaNazwaGroup">
						<label class="control-label col-xs-3" for="inputEmail">
							<section class="dymek">
								<!--Nazwa Kwestii-->
								{{_ "addKwestiaForm.akfNameIssue"}}:
								<ul align="left">
									<a data-toggle="modal" href="#addNameKw">
										<small class="fontSizeSmall">
											<!--Jak nazwać?-->{{_ "dym.dymHowToName"}}
											<sub class="fa fa-external-link"></sub>
										</small>
									</a>
								</ul>
								<div class="modal fade" id="addNameKw" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p class="modal-title" align="left">{{_ "dym.dymNamingIssues"}}</p>
											</div>
											<div class="modal-body" align="left">
												<small>{{_ "dym.dymNamingIssuesA"}}</small>
											</div>
										</div>
									</div>
								</div>
							</section>
						</label>
						<div class="col-xs-9">
							<!--Nazwa Kwestii-->
							<input class="form-control" name="kwestiaNazwa" maxlength="85" id="kwestiaNazwa" placeholder="{{_ 'addKwestiaForm.akfNameIssue'}}" value="{{kwestiaNazwa}}" required>
						</div>
					</div>
					<div class="form-group">
						<!--Temat-->
						<label class="control-label col-xs-3" for="sugerowanyTemat">
							<section class="dymek">
								{{_ "glob.globSubject"}}:
								<ul align="left">
									<a data-toggle="modal" href="#addTemat" class="fa fa-info-circle">
									<!--info i zachęta w dymku-->
									<small class="fontSizeSmall">
									<sub class="fa fa-external-link"></sub>
									</small>
									</a>
								</ul>
								<div class="modal fade" id="addTemat" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p class="modal-title" align="left">
													{{_ "dym.dymDescSubject"}}
												</p>
											</div>
											<div class="modal-body" align="left">
												<small>
													{{_ "dym.dymDescSubjectA"}}
												</small>
											</div>
										</div>
									</div>
								</div>
							</section>
						</label>
						<div class="col-xs-9">
							<!--Wybierz istniejący-->
							<input type="button" class="btn btn-primary" id="chooseTopicBtn" value="{{_ 'addKwestiaForm.akfChooseExisting'}}">
							<!--Wprowadź nowy-->
							<input type="button" class="btn btn-default" id="addTopicBtn" value="{{_ 'addKwestiaForm.akfEnterTheNew'}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<!--Wybierz lub wprowadź Temat-->
							<input class="form-control" name="sugerowanyTemat" id="sugerowanyTemat" placeholder="{{_ 'addKwestiaForm.akfSelectOrEnterTheSubject'}}" value="{{topic}}" required>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="sugerowanyRodzaj">
							<section class="dymek">
								<!--Rodzaj-->
								{{_ "glob.globType"}}:
								<ul align="left">
									<a data-toggle="modal" href="#addRodzaj" class="fa fa-info-circle">
									<!--info i zachęta w dymku-->
									<small class="fontSizeSmall">
									<sub class="fa fa-external-link"></sub>
									</small>
									</a>
								</ul>
								<div class="modal fade" id="addRodzaj" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p class="modal-title" align="left">
													{{_ "dym.dymDescrType"}}
												</p>
											</div>
											<div class="modal-body" align="left">
												<small>
													{{_ "dym.dymDescrTypeA"}}
												</small>
											</div>
										</div>
									</div>
								</div>
							</section>
						</label>
						<div class="col-xs-9">
							<!--Wybierz istniejący-->
							<input type="button" class="btn btn-primary" id="chooseTypeBtn" value="{{_ 'addKwestiaForm.akfChooseExisting'}}">
							<!--Wprowadź nowy-->
							<input type="button" class="btn btn-default" id="addTypeBtn" value="{{_ 'addKwestiaForm.akfEnterTheNew'}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<!--Wybierz lub wprowadź Rodzaj-->
							<input class="form-control" name="sugerowanyRodzaj" id="sugerowanyRodzaj" placeholder="{{_ 'addKwestiaForm.akfSelectOrEnterTheType'}}" value="{{type}}" required>
						</div>
					</div>
					<div class="form-group" id="krotkaTrescGroup">
						<label class="control-label col-xs-3" for="tresc">
							<section class="dymek">
								<!--Krótka treść Kwestii-->
								{{_ "addKwestiaForm.akfShortContentIssue"}}:
								<ul align="left">
									<a data-toggle="modal" href="#addKrTr">
									<small class="fontSizeSmall">{{_ "dym.dymPrompt"}}
									<sub class="fa fa-external-link"></sub>
									</small>
									</a>
								</ul>
								<div class="modal fade" id="addKrTr" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p class="modal-title" align="left">
													{{_ "dym.dymAsBrieflyDescr"}}
												</p>
											</div>
											<div class="modal-body" align="left">
												<small>
													{{_ "dym.dymAsBrieflyDescrA"}}
												</small>
											</div>
										</div>
									</div>
								</div>
							</section>
						</label>
						<div class="col-xs-9">
							<!--Krótka treść-->
							<textarea class="form-control" rows="3" name="krotkaTresc" maxlength="410" id="krotkaTresc" placeholder="{{_ 'addKwestiaForm.akfShortContent'}}" required>{{krotkaTresc}}</textarea>
						</div>
					</div>
					<div class="form-group" id="szczegolowaTrescGroup">
						<label class="control-label col-xs-3" for="inputEmail">
							<section class="dymek">
								<!--Opis z uzasadnieniem-->
								{{_ "addKwestiaForm.akfDescriptionWithTheReasons"}}:
								<ul align="left">
									<a data-toggle="modal" href="#addUzasadn">
									<small class="fontSizeSmall">{{_ "dym.dymAfewTips"}}
									<sub class="fa fa-external-link"></sub>
									</small>
									</a>
								</ul>
								<div class="modal fade" id="addUzasadn" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p class="modal-title" align="left">
													{{_ "dym.dymHowToDescr"}}
												</p>
											</div>
											<div class="modal-body" align="left">
												<small>
													{{_ "dym.dymHowToDescrA"}}
												</small>
											</div>
										</div>
									</div>
								</div>
							</section>
						</label>
						<div class="col-xs-9">
							<!--Opis z uzasadnieniem-->
							<textarea class="form-control" rows="6" name="szczegolowaTresc" maxlength="1010" id="szczegolowaTresc" placeholder="{{_ 'addKwestiaForm.akfDescriptionWithTheReasons'}}" required>{{szczegolowaTresc}}</textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<!--Dodaj tę Kwestię-->
							<input type="submit" class="btn btn-primary" value="{{_ 'addKwestiaForm.akfAddThisIssue'}}" id="submitAddKwestia">
							<!--Anuluj-->
							<input type="reset" class="btn btn-default" value="{{_ 'glob.globCancel'}}">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{>chooseTopicModal}}
	{{>chooseTypeModal}}
	{{>addTypeModal}}
	{{>addTopicModal}}
	{{>GlobalNotifications}}
<div class="footer">
  <div id="button">{{_ "glob.globYouHere"}} addKwestiaForm </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
		</div>
	</div>
</div>
</template>