<!--
``client\views\kwestie\kwestia_crud\``add_kwestia.html
## Template for adding the Issue -->
<template name="addKwestiaForm">
	<div class="main">
		<div class="row">
			<div class="col col-md-10">
				<form class="form-horizontal" id="kwestiaForm">
							<!--
							``Balloon`` Add Issue -->
					<section class="dymek">
						<small>
							<legend>
								<!--
								``txv`` Add Issue -->
								{{_ "addKwestiaForm.akfAddIssue"}}
							</legend>
						</small>
						<ul>
							<a data-toggle="modal" href="#addKwestia">
								<small class="fontSizeSmall">
									<!--
									``txv`` Check existing -->
									{{_ "dym.CheckExisting"}}
									<sub class="fa fa-external-link"></sub>
								</small>
							</a>
						</ul>
						<div class="modal fade" id="addKwestia" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<p class="modal-title">{{_ "dym.CheckExistingIssues"}}
										</p>
									</div>
									<div class="modal-body">
										<p>{{_ "dym.CheckExistingIssuesA"}}</p>
										<p><strong>{{_ "dym.CheckExistingIssuesB"}}</strong></p>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="form-group" id="kwestiaNazwaGroup">
						<label class="control-label col-xs-3" for="inputEmail">
							<!--
							``Balloon`` Add Name Issue -->
							<section class="dymek">
								<!--
								``txv`` Name Issue -->
								{{_ "glob.NameIssue"}}:
								<ul align="left">
									<a data-toggle="modal" href="#addNameKw">
										<small class="fontSizeSmall">
											<!--
											``txv`` How to name? -->
											{{_ "dym.HowToName"}}
											<sub class="fa fa-external-link"></sub>
										</small>
									</a>
								</ul>
								<div class="modal fade" id="addNameKw" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p class="modal-title" align="left">{{_ "dym.NamingIssues"}}</p>
											</div>
											<div class="modal-body" align="left">
												<small>{{_ "dym.NamingIssuesA"}}</small>
											</div>
										</div>
									</div>
								</div>
							</section>
						</label>
						<div class="col-xs-9">
							<input class="form-control" name="kwestiaNazwa" maxlength="85" id="kwestiaNazwa" placeholder="{{_ 'glob.NameIssue'}}" value="{{kwestiaNazwa}}" required>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="sugerowanyTemat">
							<!--
							``Balloon`` Subject -->
							<section class="dymek">
								{{_ "glob.Subject"}}:
								<ul align="left">
									<a data-toggle="modal" href="#addTemat" class="fa fa-info-circle">
									<small class="fontSizeSmall">
									<sub class="fa fa-external-link"></sub>
									</small>
									</a>
								</ul>
								<div class="modal fade" id="addTemat" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p class="modal-title" align="left">
													{{_ "dym.DescrOfSubject"}}
												</p>
											</div>
											<div class="modal-body" align="left">
												<small>
													{{_ "dym.DescrOfSubject"}}
												</small>
											</div>
										</div>
									</div>
								</div>
							</section>
						</label>
						<div class="col-xs-9">
							<!--
							``txv`` Choose existing -->
							<input type="button" class="btn btn-primary" id="chooseTopicBtn" value="{{_ 'addKwestiaForm.akfChooseExisting'}}">
							<!--
							``txv`` Enter The New -->
							<input type="button" class="btn btn-default" id="addTopicBtn" value="{{_ 'addKwestiaForm.akfEnterTheNew'}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<!--
							``txv`` Select or enter the Subject -->
							<input class="form-control" name="sugerowanyTemat" id="sugerowanyTemat" placeholder="{{_ 'addKwestiaForm.akfSelectOrEnterTheSubject'}}" value="{{topic}}" required>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="sugerowanyRodzaj">
							<!--
							``Balloon`` Type -->
							<section class="dymek">
								{{_ "glob.Type"}}:
								<ul align="left">
									<a data-toggle="modal" href="#addRodzaj" class="fa fa-info-circle">
									<small class="fontSizeSmall">
									<sub class="fa fa-external-link"></sub>
									</small>
									</a>
								</ul>
								<div class="modal fade" id="addRodzaj" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p class="modal-title" align="left">
													{{_ "dym.DescrOfType"}}
												</p>
											</div>
											<div class="modal-body" align="left">
												<small>
													{{_ "dym.DescrOfTypeA"}}
												</small>
											</div>
										</div>
									</div>
								</div>
							</section>
						</label>
						<div class="col-xs-9">
							<!--
							``txv`` Choose existing -->
							<input type="button" class="btn btn-primary" id="chooseTypeBtn" value="{{_ 'addKwestiaForm.akfChooseExisting'}}">
							<!--
							``txv`` Enter The New -->
							<input type="button" class="btn btn-default" id="addTypeBtn" value="{{_ 'addKwestiaForm.akfEnterTheNew'}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<!--
							``txv`` Select or enter the Type -->
							<input class="form-control" name="sugerowanyRodzaj" id="sugerowanyRodzaj" placeholder="{{_ 'addKwestiaForm.akfSelectOrEnterTheType'}}" value="{{type}}" required>
						</div>
					</div>
					<div class="form-group" id="krotkaTrescGroup">
						<label class="control-label col-xs-3" for="tresc">
							<!--
							``Balloon`` Short content Issue -->
							<section class="dymek">
								{{_ "addKwestiaForm.akfShortContentIssue"}}:
								<ul align="left">
									<a data-toggle="modal" href="#addKrTr">
									<small class="fontSizeSmall">{{_ "dym.Prompt"}}
									<sub class="fa fa-external-link"></sub>
									</small>
									</a>
								</ul>
								<div class="modal fade" id="addKrTr" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p class="modal-title" align="left">
													{{_ "dym.AsBrieflyDescr"}}
												</p>
											</div>
											<div class="modal-body" align="left">
												<small>
													{{_ "dym.AsBrieflyDescrA"}}
												</small>
											</div>
										</div>
									</div>
								</div>
							</section>
						</label>
						<div class="col-xs-9">
							<!--
							``txv`` Short content -->
							<textarea class="form-control" rows="3" name="krotkaTresc" maxlength="410" id="krotkaTresc" placeholder="{{_ 'addKwestiaForm.akfShortContent'}}" required>{{krotkaTresc}}</textarea>
						</div>
					</div>

					<div class="form-group" id="szczegolowaTrescGroup">
						<label class="control-label col-xs-3" for="inputEmail">
							<!--
							``Balloon`` Description with justification -->
							<section class="dymek">
								{{_ "glob.DescrWithTheReasons"}}:
								<ul align="left">
									<a data-toggle="modal" href="#addUzasadn">
									<small class="fontSizeSmall">{{_ "dym.AfewTips"}}
									<sub class="fa fa-external-link"></sub>
									</small>
									</a>
								</ul>
								<div class="modal fade" id="addUzasadn" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p class="modal-title" align="left">
													{{_ "dym.HowToDescr"}}
												</p>
											</div>
											<div class="modal-body" align="left">
												<small>
													{{_ "dym.HowToDescrA"}}
												</small>
											</div>
										</div>
									</div>
								</div>
							</section>
						</label>
						<div class="col-xs-9">
							<textarea class="form-control" rows="6" name="szczegolowaTresc" maxlength="1010" id="szczegolowaTresc" placeholder="{{_ 'glob.DescrWithTheReasons'}}" required>{{szczegolowaTresc}}</textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<!--
							``txv`` Add this Issue -->
							<input type="submit" class="btn btn-primary" value="{{_ 'addKwestiaForm.akfAddThisIssue'}}" id="submitAddKwestia">
							<input type="reset" class="btn btn-default" value="{{_ 'glob.Cancel'}}">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{>chooseTopicModal}}
	{{>chooseTypeModal}}
	{{>addTypeModal}}
	{{>addTopicModal}}
	{{>GlobalNotifications}}
<!--
### footer page info `` label `` ISSUE ADDING -->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "more.AddIssue"}} </div>
	<div id="container">
		<div class="footer_center">
					<br />
		<p><h3><center>{{_ "more.AddIssueA"}}</center></h3></p>
			<p><h3><center>{{_ "more.AddIssueB"}}</center></h3></p>
			<p><h3><center>{{_ "more.AddIssueC"}}</center></h3></p>
			<p><h3><center>{{_ "more.AddIssueD"}}</center></h3></p>
			<p><center>{{_ "more.AddIssueE"}}</center></p>
		</div>
	</div>
</div>
</template>