<!--
``client\views\kwestie\kwestia_crud\``choose_type_modal.html
## Template for Modal for choose of Type -->
<template name="chooseTypeModal">
    <div id="chooseTypeModalId" class="modal fade" tabindex="-1" data-width="760"  style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> chooseTypeModalInner}}
            </div>
        </div>
    </div>
</template>
<!--
## Template for Modal for choose of Type (inner) -->
<template name="chooseTypeModalInner">
    <div class="modal-header">
        <h4>
		{{_ "glob.Type"}}</h4>
    </div>
    <div class="modal-body" id="modalBody">
        <div class="row">
            <div class="col-md-12">
                {{> reactiveTable
                class = "table table-bordered table-hover"
                fields = settings.fields
                settings = settings
                collection = TypeList}}
            </div>
        </div>
        <br/>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <!--<input type="button" data-dismiss="modal" class="btn btn-success" value="{{_ 'glob.Select'}}"/>-->
<input type="button" data-dismiss="modal" class="btn btn-default" value="{{_ 'glob.Return'}}"/>
                </div>
            </div>
        </div>
    </div>
</template>
<!--
## Template name of Type -->
<template name="typeName"> 
<!--
``txv`` Choose -->
<input type="button" class="btn btn-success pull-right" id="chosenTypeBtn" value="{{_ 'glob.Select'}}"/>
</template>
