<template name="informacjeKwestia">
	{{#if isIssueRealizowana}}
        {{#if myselfInZR}}
        <div class="main">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active" id="issueInfoDetails"><a href="#issueInfoo" aria-controls="issueInfoo" role="tab" data-toggle="tab">
<!--Szczegóły Kwestii-->
{{_ "informacjeKwestia.ikDetailsIssue"}}</a></li>
                    <li role="presentation"><a href="#manageZRIssue" aria-controls="manageZRIssue" role="tab" data-toggle="tab">
<!--Zespół Realizacyjny-->
{{_ "informacjeKwestia.ikZespReal"}}</a></li>
                </ul>

<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="issueInfoo"><br />
	{{> issueDetails}}
    </div>
    <div role="tabpanel" class="tab-pane" id="manageZRIssue"><br />
	{{> issueManageZR idZespolRealizacyjny=idZespolRealizacyjny}}
		<div class="footer">
		  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "more.moreImplemTeam"}} </div>
			<div id="container">
				<div class="footer_center">
					<p>{{_ "more.moreImplemTeamA"}}</p>
					<p>{{_ "more.moreImplemTeamB"}}</p>
					<p>{{_ "more.moreImplemTeamC"}}</p>
					<p>{{_ "more.moreImplemTeamD"}}</p>
			<p><b>{{_ "more.moreImplemTeamE"}}</b></p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
        {{else}}
            {{>issueDetails}}
        {{/if}}
            {{>zrModalCurrentIssueMyResolutions idZespolRealizacyjny=idZespolRealizacyjny }}
    {{else}}
        {{>issueDetails}}
    {{/if}}
</template>

<template name="issueDetails">
    <div class="main">
       {{#if kwestiaInKosz}}
        <h4 class="color-red">{{_ "issueDetails.iDeTheIssueOfInactiveItIsLocatedInAtrashCan"}}</h4>
{{/if}}
        <div class="row">
            <div class="col-md-12">
                <legend><small>
<!--Kwestia-->
{{_ "issueDetails.iDeIssue"}}:</small> <strong>{{kwestiaNazwa}}</strong>,<small> {{status}} 
<!--od-->
{{_ "issueDetails.iDeFrom"}} {{date}}, 
<!--Temat-->
{{_ "glob.Subject"}}: {{tematNazwa.nazwaTemat}}, 
<!--Rodzaj-->
{{_ "glob.Type"}} {{rodzajNazwa.nazwaRodzaj}}</small></legend>	
                {{#if anyEmailProblem}}
                    <div class="col-md-6 bg-danger padding-10" style="text-align: center ">
                        <p>
<!--Uwaga!-->
{{_ "issueDetails.iDeWarning"}}</p>
                        <p>{{emailProblemNotification}}</p>
                    </div>
                {{/if}}
                {{#unless isRealizowana}}
                    <p class="col-md-6 bg-info padding-10">
                        <b>
<!--Obecnych-->
{{_ "issueDetails.iDePresent"}}:</b> {{glosujacyCount}}, 
<!--a więc-->
{{_ "issueDetails.iDePAndSo"}}  
                        {{#if kworumComplete}}
                            <b>
<!--kworum-->
{{_ "issueDetails.iDeQuorum"}}:</b> 
<!--spełnione-->
{{_ "issueDetails.iDeFulfilled"}}.<br/>
                        {{else}}
                            <b> 
<!--brak-->
{{_ "issueDetails.iDeLack"}} {{textKworum}} 
<!--dla uzyskania kworum-->
{{_ "issueDetails.iDetoObtainAquorum"}}.</b><br/>
                        {{/if}}
                        {{#unless isGlobalParamChange}}
                            {{#if ZRComplete}}
<!--Zespół Realizacyjny skompletowany-->
{{_ "issueDetails.iDeTheImplementationTeamCompleted"}}.
                            {{else}}
                                <b> 
<!--Brak jeszcze-->
{{_ "issueDetails.iDeStillMissing"}} {{ZRText}} 
<!--Zespołu Realizacyjnego-->
{{_ "issueDetails.iDeTheImplementationTeam"}}.</b>
                            {{/if}}
                        {{/unless}}
                        <br/>
                        {{#if kwestiaInKosz}}
                            <b>
<!--Powód odrzucenia kwestii-->
{{_ "issueDetails.iDeTheReasonForTheRejectionIssue"}}:</b> {{reason}} <br/>
                        {{/if}}
                        {{#if isNotAdminOrDoradca}}
                            {{#if mojPriorytetZero}}
                                <br/>
<!--Wstrzymałeś się od głosu nadając tej Kwestii priorytet-->
{{_ "issueDetails.iDeYouHavePausedFromGivingPriorityTo"}} <b>0</b>
                            {{else}}
                                {{#if mojPiorytet}}
                                    <br/>
<!--Nadałeś tej Kwestii priorytet-->
{{_ "issueDetails.iDeYouGaveTheIssueApriority"}}: <b>{{mojPiorytet}}</b>
                                {{else}}
                                    <br/>
<!--Nie nadałeś jeszcze tej Kwestii priorytetu-->
{{_ "issueDetails.iDeNotYetYouGaveThisIssueApriority"}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </p>
                {{/unless}}
            </div>
            <!--{{thisKwestia}}-->
            {{> kwestiaTopButtons
            status=status
            typ=typ
            idParent=idParent
            idKwestia=_id
            czyAktywny=czyAktywny
            idZespolRealizacyjny=idZespolRealizacyjny
            }}
        </div>

        <br/>
        <table class="table table-bordered manageTable">
            {{#if isRealizowana}}
                <td> 
<!--Priorytet w głosowaniu-->
{{_ "issueDetails.iDePriorityVote"}}: &nbsp;{{wartoscPriorytetuG}}</td>
            {{/if}}
            <tr>
                {{>managePriorities
                priorytet=wartoscPriorytetu
                priorytetRealizacja=wartoscPriorytetuWRealizacji
                idKwestia=_id
                idParent=idParent
                glosujacy=glosujacy
                status=status
                czyAktywny=czyAktywny
                }}
            </tr>
        </table>
        {{>kwestiaDetails
        krotkaTresc=krotkaTresc
        szczegolowaTresc=szczegolowaTresc
        status=status
        typ=typ
        }}
        {{#if currentUser}}
            {{#unless isIssueArchiwalna}}
            {{#unless isGlobalParamChange}}
                {{>ZRTemplate
                idZR=idZespolRealizacyjny
                status=status
                idKwestia=_id
                czyAktywny=czyAktywny
                zespol=zespol
                typ=typ
                }}
            {{/unless}}
            {{/unless}}
        {{/if}}
        {{#if ifHasOpcje}}
            <div class="row">
                {{> opcjeList
                actualKwestiaId=_id
                idParent=idParent
                }}
            </div>
        {{/if}}
        {{#if currentUser}}
            <legend id="dyskusja">
<!--Dyskusja Kwestii-->
{{_ "issueDetails.iDeTalkIssue"}}</legend>
            <div class="row">
                <div class="col-md-12">
                    {{> discussionMain
                    _id =_id
                    status=status
                    czyAktywny=czyAktywny}}
                </div>
            </div>
        {{/if}}
    </div>

    {{> notifications}}

    {{> GlobalNotifications}}
    {{#unless helperObserver}}
        {{> addNazwaModal}}
        {{> listZespolRealizacyjnyModal}}
        {{>decyzjaModal}}
        {{>listZespolRealizacyjnyDoubleModal}}
    {{/unless}}

<!-- pageInfo in footer -->

<div class="footer">
	<div id="button"> <i class="fa fa-info-circle"></i> &nbsp;
	{{#if isDeliberowana}} {{_ "more.moreDeliberIssueDetails"}} {{/if}}
            {{#unless kwestiaInKosz}}
	{{#if isGlosowana}} {{_ "more.moreVotingDetails"}} {{/if}}
			{{/unless}}
	{{#if isRealizowana}} {{_ "more.moreImplemIssueDetails"}} {{/if}}
	{{#if isZrealizowana}} SZCZEGÓŁY KWESTII ZREALIZOWANEJ {{/if}}
	{{#if kwestiaInKosz}} {{_ "more.moreTheIssueInTheTrashCan"}} {{/if}}
	</div>
	<div id="container">
		<div class="footer_center">
		{{#if isDeliberowana}}
		<p>{{_ "more.moreDeliberIssueDetailsA"}}</p>
		<p>{{_ "more.moreDeliberIssueDetailsB"}}</p>
		<p>{{_ "more.moreDeliberIssueDetailsC"}}</p>
		{{/if}}
		{{#if  isRealizowana}}
			<p>{{_ "more.moreImplemIssueDetailsA"}}</p>
			<p>{{_ "more.moreImplemIssueDetailsB"}}</p>
			<p>{{_ "more.moreImplemIssueDetailsC"}}</p>
			<p><b>{{_ "more.moreImplemIssueDetailsD"}}</b></p>
		{{/if}}
		{{#if  isZrealizowana}}
			<p>{{_ "more.moreA"}}</p>
			<p>{{_ "more.moreB"}}</p>
			<p>{{_ "more.moreC"}}</p>
		{{/if}}
				{{#unless kwestiaInKosz}}
		{{#if isGlosowana}}
			<p>{{_ "more.moreVotingB"}}</p>
			<p>{{_ "more.moreVotingC"}}</p>
			<p>{{_ "more.moreVotingE"}}</p>
		{{/if}}
				{{/unless}}
		{{#if kwestiaInKosz}}
			<p>{{_ "more.moreTheIssueInTheTrashCanA"}}</p>
			<p>{{_ "more.moreTheIssueInTheTrashCanB"}}</p>
			<p>{{_ "more.moreTheIssueInTheTrashCanC"}}</p>
		{{/if}}
		</div>
	</div>
		</div>
</template>

<template name="issueManageZR">
    <input type="hidden" id="idZR" value="{{idZespolRealizacyjny}}"/>
    <legend>{{getZRName idZespolRealizacyjny zespol}}</legend>
    <br/>
    <div class="row">
        <div class="col-md-12">
            {{> reactiveTable
                class = "table table-bordered table-hover"
                fields = settings.fields
                settings = settings
                collection = ZRList
            }}
        </div>
    </div>

</template>


<template name="zrOptions">
    {{idZespolRealizacyjny}}
    <div >
        {{#if currentUser _id}}
            
<!--Rezygnacja z udziału w Zespole Realizacyjnym-->
<a class="btn btn-default btn-xs" data-toggle="tooltip" title="{{_ 'zrOptions.zrCancellOfParticipationInTheTeamImplem'}}" id="giveUpMembership">
 <!--Rezygnuj-->
{{_ "zrOptions.zrResign"}} <i class="fa fa-outdent"></i>
            </a>
        {{else}}
            
<!--Napisz wiadomość do członka ZR-->
<a class="btn btn-default btn-xs" data-toggle="tooltip" title="{{_ 'zrOptions.zrWriteAmessageToMemberIT'}}"
               href="{{pathFor 'sendMessage' _id}}">
 <!--Napisz wiadomość-->
{{_ "zrOptions.zrWriteAmessage"}} <i class="fa fa-pencil"></i>
            </a>
        {{/if}}
    </div>
</template>

