<!--
``client\views\kwestie\kwestia_crud\``info_kwestia_details.html
## Template for information about the details of the issue -->
<template name="kwestiaDetails">
    <div class="clearfix"></div>
    {{#if isOsobowa typ}}
        <!-- ``txv`` Subject -->
        {{_ "kwestiaDetails.KwdTitle"}}
        {{krotkaTresc}}
        <!-- ``txv`` Applicant data -->
        {{_ "kwestiaDetails.KwdDataAplicator"}}

        <!-- ``txv`` Name and surname -->
        {{_ "kwestiaDetails.KwdFnameLname"}}:
        {{szczegolowaTresc.fullName}}
        {{#if protectorZR}}
            <!-- ``txv`` e-mail -->
            {{_ "glob.Email"}}:
            {{szczegolowaTresc.email}}
            <!-- ``txv`` PID -->
            {{_ "glob.PID"}}:
            {{szczegolowaTresc.pesel}}
            <!-- ``txv`` Address -->
            {{_ "glob.Address"}}:
            {{szczegolowaTresc.address}}
            <!-- ``txv`` Postal Code -->
            {{_ "glob.PostalC"}}:
            {{szczegolowaTresc.zip}}
        {{/if}}
        <!-- ``txv`` City -->
        {{_ "glob.City"}}:
        {{szczegolowaTresc.city}}
        <!-- ``txv`` Additional -->
        {{_ "kwestiaDetails.KwdAdditional"}}
        {{szczegolowaTresc.uwagi}}
    {{else}}
        {{#if isGlobalParamsChange typ}}
            <!-- ``txv`` Paramter -->
            <strong>{{_ "kwestiaDetails.KwdParameter"}}:</strong><br />
            {{szczegolowaTresc.title}}
            <br /><br />
            <!-- ``txv`` Initial value -->
            <strong>{{_ "kwestiaDetails.KwdInitialValue"}}:</strong><br />
            {{{nl2br szczegolowaTresc.oldValue}}}
            <br /><br />
            <!-- ``txv`` Proposed value -->
            <strong>{{_ "kwestiaDetails.KwdTheProposedValue"}}:</strong><br />
            {{{nl2br szczegolowaTresc.newValue}}}
            <br /><br />
        {{else}}
            <!-- ``txv`` Short description of the Issue -->
            Treść Kwestii: <br /><strong>{{krotkaTresc}}. </strong> {{{nl2br szczegolowaTresc}}}
        {{/if}}
    {{/if}}
</template>
