
<template name="ZRTemplate">
    {{#if statusGlosowanaOsobowaRealizowanaZrealizowana status typ czyAktywny}}
<div class="prawy">
        <legend>
<!--Zespół Realizacyjny-->
{{_ "ZRTemplate.zrTheImplementationTeam"}}</legend>
            <table class="table manageTable">
                <tr>
                    <td><b>
<!--Nazwa Zespołu-->
{{_ "ZRTemplate.zrNameImplTeam"}}</b></td>
                    <td>
                        {{#if isInKoszOrZrealizowana czyAktywny status}}
                            {{#if zespol.nazwa}}
                                {{zespol.nazwa}}
                            {{else}}
<!--Brak-->
{{_ "ZRTemplate.zrLack"}}
                            {{/if}}
                        {{else}}
                            <!--{{#if isInZRFoo idZR}}-->
                                <!--<button class="btn btn-info" id="zrList" style="margin: 2px">{{getZRName idZR status}}</button>-->
                            <!--{{else}}-->
                            {{getZRName idZR status}}
                            <!--{{/if}}-->
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <!--dla kwestii zrealizowanych i w koszu,kiedy zr sie nie moze zmeiniac i jest zapisane na stale w kwestii-->
                    {{#if isInKoszOrZrealizowana czyAktywny status}}
                        {{#each  myZR zespol.czlonkowie}}
                            <td><strong>
<!--Członek nr-->
{{_ "ZRTemplate.zrMemberNo"}} {{number}}</strong> &nbsp; &nbsp;
                                <button class="btn btn-success" disabled>{{member}}</button>
                            </td>
                        {{/each}}
                    {{else}}
                        <!--dla kwestii w realizacji,glos,gdy zr moze ulec zmianie-->
                        {{#with getZRCzlonkowie idZR status}}
                            {{#each  myZR this}}
                                <td><strong>
<!--Członek nr-->
{{_ "ZRTemplate.zrMemberNo"}} {{number}}</strong> &nbsp; &nbsp;
                                    <button class="btn btn-success" disabled>{{member}}</button>
                                </td>
                            {{/each}}
                        {{/with}}
                    {{/if}}
                </tr>
            </table>
</div>			
    {{else}}
	
<div class="prawy">
<section class="dymek"><strong>
<!--Zespół Realizacyjny-->
{{_ "ZRTemplate.zrTheImplementationTeam"}}:</strong><ul>

<a data-toggle="modal"  href="#tworzenieZespolow"><li class="fa fa-info-circle"> <!--Dlaczego to ważne?-->
{{_ "ZRTemplate.zrOnTheCreationOfImplTeam"}}</li></a></ul>

	<div class="modal fade" id="tworzenieZespolow" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<p class="modal-title" align="left">
						{{_ 'dym.CreatingTeamsRealiz'}}
					</p>
				</div>
				<div class="modal-body" align="left">
					<small>
					<p>{{_ 'dym.CreatingTeamsRealizA'}}</p>
					<p>{{_ 'dym.CreatingTeamsRealizB'}}</p>
					<p>{{_ 'dym.CreatingTeamsRealizC'}}</p>
					<p>{{_ 'dym.CreatingTeamsRealizD'}}</p>
					<p><strong>{{_ 'dym.CreatingTeamsRealizE'}}</strong></p>
					</small>
				</div>
			</div>
		</div>
	</div>

</section>
                        {{#if pierwszyCzlonekFullName idZR}}
                            <button class="btn btn-success" id="member1" {{isActualUser 0 idZR}} style="visibility: visible">{{pierwszyCzlonekFullName idZR}}</button>
                        {{else}}
                            <button style="border-style: solid; border-width: 2px; border-color:gray"  class="btn" id="member1" {{isInZR idZR}}>
<!--Dołączam-->
{{_ "ZRTemplate.zrIjoin"}}</button>
                        {{/if}}
                        {{#unless drugiCzlonekFullName idZR}}
                            <button style="border-style: solid; border-width: 2px; border-color:gray"  class="btn" id="czlonek2" {{isInZR idZR}}>
<!--Dołączam-->
{{_ "ZRTemplate.zrIjoin"}}</button>
                        {{else}}
                            <button class="btn btn-success" id="czlonek2" {{isActualUser 1 idZR}}>{{drugiCzlonekFullName idZR}}</button>
                        {{/unless}}
                        {{#unless trzeciCzlonekFullName idZR}}
                            <button style="border-style: solid; border-width: 2px; border-color:gray" class="btn" id="czlonek3" {{isInZR idZR}}>
<!--Dołączam-->
{{_ "ZRTemplate.zrIjoin"}}</button>
                        {{else}}
                            <button class="btn btn-success" id="czlonek3" {{isActualUser 2 idZR}}>{{trzeciCzlonekFullName idZR}}</button>
{{/unless}}

<section class="dymek">&nbsp;&nbsp;<button class="btn btn-primary" id="listaZR" {{hasAccess}}>
<!--Sprawdź istniejące ZR-->
{{_ "ZRTemplate.zrCheckExistingImplTeam"}}</button><ul>

<a data-toggle="modal" href="#dlaczgoWazne"><li class="fa fa-info-circle"> 
<!--Dlaczego to ważne?-->
{{_ "ZRTemplate.zrWhyIsThisImportant"}}</li></a></ul>
	<div class="modal fade" id="dlaczgoWazne" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<p class="modal-title" align="left">
						{{_ 'dym.DoesNotDuplic'}}
					</p>
				</div>
				<div class="modal-body" align="left">
					<small>
					<p>{{_ 'dym.DoesNotDuplicA'}}</p>
					<p>{{_ 'dym.DoesNotDuplicB'}}</p>
					<p>{{_ 'dym.DoesNotDuplicC'}}</p>
					</small>
				</div>
			</div>
		</div>
	</div>
</section>
</div>	
    {{/if}}
</template>
