<template name="listKwestia">
	<div class="main" >
		<div class="row">
			<div class="col-lg-6 ">
				{{#if currentUser}}
				{{#if isZwyczajnyLogged}}
				<div class="btn-group">
					<section class="dymek">
						<small>
							<a id="addKwestiaButton" class="btn btn-primary">
								<i class="fa fa-plus"></i>
								<!--Dodaj nową Kwestię-->{{_ 'listKwestia.liAddANewIssue'}}
							</a>
						</small>
						<ul align="left">
							<a data-toggle="modal" href="#addZanimDod">
									<small>{{_ 'dym.BeforeYouAdd'}}
									<sub class="fa fa-external-link"></sub>
									</small>
							</a>
						</ul>
						<div class="modal fade" id="addZanimDod" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<p class="modal-title" align="left">
											{{_ 'dym.AddingIssues'}}
										</p>
									</div>
									<div class="modal-body" align="left">
										<small>
										<p>{{_ 'dym.AddingIssueA'}}</p>
										<p>{{_ 'dym.AddingIssueB'}}</p>
										<p><strong>{{_ 'dym.AddingIssueC'}}</strong></p>
										</small>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				{{/if}}
 		{{/if}}
	<!--Szukanie Kwestii-->
			<div class="pull-right col-lg-6 col-md-4 col-sm-6 col-xs-6">
				<section class="dymek">
				{{_ "more.SearchIssues"}}
					{{> reactiveTableFilter
					id="customFilter"
					label="?"
					fields=getFilterFields}}
					<!--Wpisz frazę nazwy-->
					<ul>
						<li class="fa fa-info-circle"><small>
							{{_ 'listKwestia.liEnterThePhraseNameIssue'}}</small>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>

		<div class="row">
			<div class="col-md-12">
				{{#if isDataSortEnabled}}
				{{> reactiveTable
				class = "table table-bordered table-hover"
				fields = settings2.fields
				settings = settings2
				collection = "KwestiaList"
				}}
				{{else}}
				{{> reactiveTable
				class = "table table-bordered table-hover"
				fields = settings.fields
				settings = settings
				collection = "KwestiaList"
				}}
				{{/if}}
			</div>
		</div>
	</div>
	{{> GlobalNotifications}}
<!--
### footer page info
-->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "more.listOfIssues"}} </div>
	<div id="container">
		<div class="footer_center">
					<p>{{_ "more.listOfIssuesA"}}</p>
					<p>{{_ "more.listOfIssuesB"}}</p>
					<p>{{_ "more.listOfIssuesC"}}</p>
		</div>
	</div>
</div>
</template>

<template name="tematKwestia">
	{{topicName}}
</template>

<template name="rodzajKwestia">
	{{typeName}}
</template>

<template name="dataGlKwestia">
	{{date}}
</template>

<template name="kworumNumber">
	<b>{{getUsersCount}}</b>
	<small>{{getKworum}}</small>
</template>

<template name="dataUtwKwestia">
	{{date}}
</template>

<template name="id">
	{{id}}
</template>

<template name="nazwaKwestiLink">
	<a href="{{ pathFor 'informacjeKwestia'}}" id="kwestiaIdClick" class="kwestiaId">{{issueName}}</a>
</template>

<template name="nazwaKwestii">
	{{this.kwestiaNazwa}}
</template>

<template name="priorytetKwestia">
	<b>{{priorytet}}</b>
	{{#if nadanyPriorytet}}
	<small>{{myGlos}}</small>
	{{else}}
	<small style="color:#C9302C">
	<b>{{myGlos}}</b>
	</small>
	{{/if}}
</template>

<template name="editColumnKwestia">
	<a title="Edytuj" id="editKwestia" href="{{ pathFor 'editKwestia'}}">
	<i
		class="glyphicon glyphicon-pencil clickable">
	</i>
	</a>
</template>

<template name="listKwestiaColumnLabel">
	<span data-toggle="tooltip" title="{{title}}">{{text}}</span>
</template>

<template name="sugerowanyTemat">
	{{sugerowanyTemat}}
</template>

<template name="sugerowanyRodzaj">
	{{sugerowanyRodzaj}}
</template>

<template name="statusKwestii">
	{{status}}
</template>

<template name="noData">
	<div class="">
		<!--Brak danych do wyświetlania...-->
		{{_ "noData.noNoDataToDisplay"}}
	</div>
</template>