<!--
``client\views\kwestie\kwestia_crud\``preview_kwestia.html
## Preview the Issue before adding -->
<template name="previewKwestia">
	<div class="main">
		<legend>
		<!--
		``txv`` Add new Issue -->
		{{_ "previewKwestia.pKwIssue"}} <strong>{{kwestiaNazwa}}</strong>, <small>
		<!--
		``txv`` Subject -->
		{{_ "glob.Subject"}}: {{temat}}, 
		<!--
		``txv`` Type -->
		{{_ "glob.Type"}}: {{rodzaj}}</small>
		</legend>
		<div class="row">
			<div class="col col-md-10">
				<form class="form-horizontal">
					<div class="form-group" id="krotkaTrescGroup">
						<label class="col-xs-offset-1 col-xs-2">
		<!--
		``txv`` Short text -->
		{{_ "previewKwestia.pKwShortContent"}}:</label>
						<div class="col-xs-9">
							{{krotkaTresc}}
						</div>
					</div>
					<div class="form-group" id="szczegolowaTrescGroup">
						<label class="col-xs-offset-1 col-xs-2">
		<!--
		``txv`` Description with justification -->
						{{_ "glob.DescrWithTheReasons"}}:</label>
						<div class="col-xs-9">
							{{szczegolowaTresc}}
						</div>
					</div>
			<p class="col-md-12 bg-warning padding-15">
			<!--
			``txv`` ATTENTION! Once entered application can not be withdrawn. Apply responsibly and check before introducing to the System -->
			{{_ "previewKwestia.pKwSubmittedMpplicationMayNotBeWithdrawn"}}
					</p>
					<div class="form-group" id="formGroup" >
						<div class="col-xs-offset-3 col-xs-9">
							<a href="{{pathFor "addKwestia"}}" id="edit" type="button"
							   class="btn btn-primary">
							<!--
							``txv`` Make correction -->
							{{_ "previewKwestia.pKwCorrect"}}</a>
							<button id="save" type="button" class="btn btn-primary">
							<!--
							``txv`` Add this new Issue -->
							{{_ "glob.Add"}}</button>
							<button id="cancel" type="reset" class="btn btn-default">
							{{_ "glob.Cancel"}}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<!--
### footer page info `` label `` PREVIEW -->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "more.Preview"}} </div>
	<div id="container">
		<div class="footer_center">
				<br />
		<p><h2><center>{{_ "more.PreviewA"}}</center></h2></p>
		<p><h2><center>{{_ "more.PreviewB"}}</center></h2></p>
		<p><h2><center>{{_ "more.PreviewC"}}</center></h2></p>
		</div>
	</div>
</div>
</template>
