
<template name="addNazwaModal">
    <div id="addNazwa" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> addNazwaModalInner}}
            </div>
        </div>
    </div>
    {{> GlobalNotifications}}
</template>


<template name="addNazwaModalInner">
    <div class="modal-header">
        <h4>
<!--Nadaj nazwę temu Zespołowi Realizacyjnemu-->
{{_ 'addNazwaModalInner.aniPleaseNameTheImplementationTeam'}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label>
<!--Zespół Realizacyjny ds.-->
{{_ 'addNazwaModalInner.aniTheImplementationTeamForThe'}}</label>
 <!--Nazwa Zespołu Realizacyjnego-->
<input name="nazwaZR" id="nazwaZR" class="form-control"  placeholder="{{_ 'addNazwaModalInner.aniNameTheImplementationTeam'}}"/>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <p><u>
<!--Objaśnienie-->
{{_ 'addNazwaModalInner.aniExplanation'}}:</u></p>
                <p>{{_ 'addNazwaModalInner.aniEnterOnlyTheContinuationOfTheName'}}</p>
<strong><p>{{_ 'addNazwaModalInner.aniEnterOnlyTheContinuationOfTheNameA'}}</p>
                <p>{{_ 'addNazwaModalInner.aniEnterOnlyTheContinuationOfTheNameB'}}</p>
                <p>{{_ 'addNazwaModalInner.aniEnterOnlyTheContinuationOfTheNameC'}}</p></strong>
                <p>{{_ 'addNazwaModalInner.aniEnterOnlyTheContinuationOfTheNameD'}}</p>
            </div>
        </div>
        <br/>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <!--<button class="btn btn-default" id="zapiszButton">Powrót</button>-->
                <button class="btn btn-success" id="zapiszButton">
<!--Zapisz-->
{{_ 'glob.Save'}}</button>
            </div>
        </div>
    </div>
</template>