<template name="decyzjaModal">
    <div id="decyzjaModalId" class="modal fade" tabindex="-1" data-width="760"  style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> decyzjaModalInner}}
            </div>
        </div>
    </div>
</template>
<!--
### Template for Modal decision of choice ... (inner^^^) -->
<template name="decyzjaModalInner">
    <div class="modal-header">
        <h4>
<!--
``txv`` Creation of the Implementation Team  -->
{{_ 'decyzjaModalInner.deCreatingTheImplementationTeam'}}</h4>
    </div>
    <div class="modal-body" id="modalBody">
        <div class="row">
            <div class="col-md-12">
                {{#if ZRDoubleList}}
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = ZRDoubleList}}
                {{/if}}
            </div>
        </div>
        <br/>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5">
<!--
``txv`` I create new Implementation Team  -->
<input type="submit" data-dismiss="modal" class="btn btn-success" id="nowyZRButton" value="{{_ 'decyzjaModalInner.deImCreatingAnewTeamImplementation'}}"/>
                </div>
                <div class="col-md-5">
<!--
``txv`` I accept the Issue to my Team  -->
<input type="submit" data-dismiss="modal" class="btn btn-success" id="istniejacyZRButton" value="{{_ 'decyzjaModalInner.deIacceptAnIssueForMyTeam'}}"/>
                </div>
                <div class="col-md-2">
<!--
``txv`` Return  -->
<input type="submit" data-dismiss="modal" class="btn btn-default" id="anulujButton" value="{{_ 'glob.'}}"/>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="zespolDoubleTemplatee">
    {{zespolR}}
</template>