<!--
``client\views\kwestie\zespol_realizacyjny\``list_zr.html
## Template for Modal List of Implementation Teams -->
<template name="listZespolRealizacyjnyModal">
    <div id="listZespolRealizacyjny" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> listZespolRealizacyjnyModalInner}}
            </div>
        </div>
    </div>
</template>
<!--
### Template for Modal List ... (inner^^^) -->
<template name="listZespolRealizacyjnyModalInner">
    <div class="modal-header">
        <h4>
		<!--
		``txv`` List of Implementation Teams -->
		{{_ 'listZespolRealizacyjnyModalInner.lzrImplementationTeams'}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                {{> reactiveTable
                class = "table table-bordered table-hover"
                fields = settings.fields
                settings = settings
                collection = ZRList}}
            </div>
        </div>
        <br/>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
			<input type="submit" data-dismiss="modal" class="btn btn-default" id="cancelButton" value="{{_ 'glob.Return'}}"/>
            </div>
        </div>
    </div>
</template>

<template name="zespolTemplate">
    {{zespolR}}
</template>

<template name="zespolOptionsTemplate">
    <button class="btn btn-success" id="powolajZR">
<!--
``txv``Create Implementation Team -->
{{_ 'zespolOptionsTemplate.zotPleaseMentionImplTeam'}}</button>
</template>