<template name="listZespolRealizacyjnyDoubleModal">
    <div id="listZespolRealizacyjnyDouble" class="modal fade" tabindex="-1" data-width="2960"  style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> listZespolRealizacyjnyDoubleModalInner}}
            </div>
        </div>
    </div>
</template>

<template name="listZespolRealizacyjnyDoubleModalInner">
    <div class="modal-header">
        <h4>
<!--Wybierz Zespół Realizacyjny-->
{{_ 'listZespolRealizacyjnyDoubleModalInner.lzdWyZeRea'}}</h4>
    </div>

    <div class="modal-body" id="modalBody">
        <div class="row">
            <div class="col-md-12">
                {{#if ZRDoubleList}}
                {{> reactiveTable
                class = "table table-bordered table-hover"
                fields = settings.fields
                settings = settings
                collection = ZRDoubleList}}
                {{/if}}
            </div>
        </div>
        <br/>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
 <!--Powrót-->
<input type="submit" data-dismiss="modal" class="btn btn-default" id="powrotButton" value="{{_ 'glob.globPowrot'}}"/>
 <!--Rezygnuj-->
<input type="submit" data-dismiss="modal" class="btn btn-danger" id="anulujButton" value="{{_ 'listZespolRealizacyjnyDoubleModalInner.lzdRezygnu'}}"/>
            </div>
        </div>
    </div>
</template>

<template name="zespolDoubleTemplate">
    {{zespolR}}
</template>

<template name="zespolDoubleTemplateOptions">
    <button class="btn btn-success" id="przyjmijZR">
<!--Powołaj ZR-->
{{_ 'zespolDoubleTemplateOptions.zdtPowolZR'}}</button>
</template>