<!--
``client\views\kwestie\zespol_realizacyjny\``przyjmij_zespol.html
## Template for the Implementation Team List -->
<template name="listZespolRealizacyjnyDoubleModal">
    <div id="listZespolRealizacyjnyDouble" class="modal fade" tabindex="-1" data-width="2960"  style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> listZespolRealizacyjnyDoubleModalInner}}
            </div>
        </div>
    </div>
</template>
<!-- 
### Point proper Emplementation Team for this Issue. The Issue shall be accepted for execution provided that you are Member of the IT. So, look for Your IT or go back to create new Team. -->
<template name="listZespolRealizacyjnyDoubleModalInner">
    <div class="modal-header">
        <h4>
{{_ 'listZespolRealizacyjnyDoubleModalInner.izdSelectTheAppropriateImplTeamForTheIssue'}}</h4>
    </div>
    <div class="modal-body" id="modalBody">
        <div class="row">
            <div class="col-md-12">
                {{#if ZRDoubleList}}
                {{> reactiveTable
                class = "table table-bordered table-hover"
                fields = settings.fields
                settings = settings
                collection = ZRDoubleList}}
                {{/if}}
            </div>
        </div>
        <br/>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
<!--
``txv`` Return -->
<input type="submit" data-dismiss="modal" class="btn btn-default" id="powrotButton" value="{{_ 'glob.Return'}}"/>
<!--
``txv`` Resign -->
<input type="submit" data-dismiss="modal" class="btn btn-danger" id="anulujButton" value="{{_ 'listZespolRealizacyjnyDoubleModalInner.izdResign'}}"/>
            </div>
        </div>
    </div>
</template>

<template name="zespolDoubleTemplate">
    {{zespolR}}
</template>
<!-- 
### Adapt the existing Implementation Team to this Issue -->
<template name="zespolDoubleTemplateOptions">
    <button class="btn btn-success" id="przyjmijZR">
{{_ 'zespolDoubleTemplateOptions.izdMentionImplemTeam'}}</button>
</template>