<!DOCTYPE html>
<html>
<head>
  <title>add_nazwa_zr.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="../../../../doc-style.css" />
  <script src="../../../../doc-filelist.js"></script>
  <script>
    var relativeDir = "../../../../";
    var thisFile = "client\\views\\kwestie\\zespol_realizacyjny\\add_nazwa_zr.js";
    var defaultSidebar = true;
  </script>
  <script src="../../../../doc-script.js"></script>

</head>
<body>
  <div id="sidebar_wrapper">
    <div id="sidebar_switch">
      <span class="tree">Files</span>
      <span class="headings">Headings</span>
    </div>
    <div id="tree"></div>
    <div id="headings">

    </div>
  </div>
  <div id="sidebar-toggle"></div>
  <div id="container">
    <div class="background highlight"></div>
<table cellpadding="0" cellspacing="0">
  <tbody>
    
      <tr>
        <td class="docs">
          <h1>add_nazwa_zr.js</h1>
        </td>
        <td class="code highlight"></td>
      </tr>
    
    
      <tr>
        <td class="docs">
          <div class="pilwrap">
  <a class="pilcrow" href="#section-1" id="section-1"></a>
</div>

        </td>
        <td class="code highlight">
          <pre class="javascript">Template.addNazwaModalInner.rendered = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    $ ( <span class="hljs-string">'#nazwaZR'</span> ).css ( <span class="hljs-string">"visibility"</span>, <span class="hljs-string">"visible"</span> );
    $ ( <span class="hljs-string">"addNazwa"</span> ).validate ( {
        <span class="hljs-attr">rules</span>:{
            <span class="hljs-attr">nazwaZR</span>: {
                <span class="hljs-attr">checkExistsNazwaZespoluRealizacyjnego</span> : <span class="hljs-literal">true</span>
            }
        },
        <span class="hljs-attr">messages</span>: {
            <span class="hljs-attr">nazwaZR</span>: {
                <span class="hljs-attr">required</span>: fieldEmptyMessage ()
            }
        },
        <span class="hljs-attr">highlight</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> element </span>) </span>{
            highlightFunction ( element );
        },
        <span class="hljs-attr">unhighlight</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> element </span>) </span>{
            unhighlightFunction ( element );
        },
        <span class="hljs-attr">errorElement</span>: <span class="hljs-string">'span'</span>,
        <span class="hljs-attr">errorClass</span>: <span class="hljs-string">'help-block'</span>,
        <span class="hljs-attr">errorPlacement</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> error, element </span>) </span>{
            <span class="hljs-keyword">if</span> ( element.length ) {
                error.insertAfter ( element );
            } <span class="hljs-keyword">else</span> {
                error.insertAfter ( element );
            }
        }
    } );
};

Template.addNazwaModal.events ( {
    <span class="hljs-string">'click #zapiszButton'</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> e </span>) </span>{
        e.preventDefault ();

        <span class="hljs-keyword">var</span> idKwestia=<span class="hljs-keyword">this</span>._id;
        <span class="hljs-keyword">var</span> nazwa = <span class="hljs-built_in">document</span>.getElementById ( <span class="hljs-string">'nazwaZR'</span> ).value;
        <span class="hljs-keyword">var</span> zespoly = ZespolRealizacyjny.find ( {<span class="hljs-attr">czyAktywny</span>: <span class="hljs-literal">true</span> } );
        <span class="hljs-keyword">if</span> ( nazwa.toLowerCase ().trim () ==<span class="hljs-string">""</span> ) {
            $ ( <span class="hljs-string">'#nazwaZR'</span> ).css ( <span class="hljs-string">"visibility"</span>, <span class="hljs-string">"visible"</span> );
            GlobalNotification.error ( {
                <span class="hljs-attr">title</span>: TAPi18n.__ ( <span class="hljs-string">'txv.ERROR'</span> ),
                <span class="hljs-attr">content</span>: TAPi18n.__ ( <span class="hljs-string">'txv.FILL_NAME_OF_TEAM'</span> ),
                <span class="hljs-attr">duration</span>: <span class="hljs-number">4</span> 
            } );
        }
        <span class="hljs-keyword">else</span> {
            <span class="hljs-keyword">var</span> found = <span class="hljs-literal">false</span>;
            <span class="hljs-keyword">var</span> text = TAPi18n.__ ( <span class="hljs-string">'txv.IMPLEMENTATION_TEAM_FOR'</span> ) + nazwa;
            zespoly.forEach ( <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> zespol </span>) </span>{
                <span class="hljs-keyword">if</span> ( _.isEqual ( zespol.nazwa.toLowerCase ().trim (), text.toLowerCase ().trim () ) )
                    found = <span class="hljs-literal">true</span>;
            } );
            <span class="hljs-keyword">if</span> ( found == <span class="hljs-literal">true</span> ) {
                $ ( <span class="hljs-string">'#nazwaZR'</span> ).css ( <span class="hljs-string">"visibility"</span>, <span class="hljs-string">"visible"</span> );
                GlobalNotification.error ( {
                    <span class="hljs-attr">title</span>: TAPi18n.__ ( <span class="hljs-string">'txv.ERROR'</span> ),
                    <span class="hljs-attr">content</span>: TAPi18n.__ ( <span class="hljs-string">'txv.NAME_OF_TEAM_EXIST'</span> ),
                    <span class="hljs-attr">duration</span>: <span class="hljs-number">4</span> 
                } );
            } <span class="hljs-keyword">else</span> {
                $ ( <span class="hljs-string">'#nazwaZR'</span> ).css ( <span class="hljs-string">"visibility"</span>, <span class="hljs-string">"hidden"</span> );
                <span class="hljs-keyword">var</span> text = TAPi18n.__ ( <span class="hljs-string">'txv.IMPLEMENTATION_TEAM_FOR'</span> ) + nazwa;
                <span class="hljs-keyword">var</span> kwestia = Kwestia.findOne ( { <span class="hljs-attr">_id</span>: idKwestia } );
                <span class="hljs-keyword">if</span> ( kwestia ) {
                    <span class="hljs-keyword">var</span> zespol = ImplemTeamDraft.findOne ( { <span class="hljs-attr">_id</span>: kwestia.idZespolRealizacyjny } );
                    <span class="hljs-keyword">if</span> ( zespol ) {
                        <span class="hljs-keyword">var</span> tablicaZR = zespol.zespol.slice ();
                        tablicaZR.push ( Meteor.userId () );
                        <span class="hljs-keyword">var</span> newZespol={
                            <span class="hljs-attr">nazwa</span>:text,
                            <span class="hljs-attr">zespol</span>:tablicaZR
                        };
                        Meteor.call ( <span class="hljs-string">'updateImplemTeamDraft'</span>, kwestia.idZespolRealizacyjny, newZespol, <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"> error, ret </span>) </span>{
                            <span class="hljs-keyword">if</span> ( error ) {
                                <span class="hljs-keyword">if</span> ( <span class="hljs-keyword">typeof</span> Errors === <span class="hljs-string">"undefined"</span> )
                                    Log.error ( TAPi18n.__ ( <span class="hljs-string">'txv.ERROR'</span> ) + error.reason );
                                <span class="hljs-keyword">else</span> {
                                    throwError ( error.reason );
                                }
                            }
                            <span class="hljs-keyword">else</span> {
                                $ ( <span class="hljs-string">"#addNazwa"</span> ).modal ( <span class="hljs-string">"hide"</span> );
                            }
                        } );
                    }
                }
            }
        }
    }
 } );

</pre>
        </td>
      </tr>
    
  </tbody>
</table>

  </div>
</body>
</html>
