<template name="profileList">
    <!--{{#if currentUser}}-->
        <div class="main">
<!--Lista użytkowników-->
            <div class="row">
                <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = "UsersList"
                    }}
                </div>
            </div>
        </div>
        {{> updateRolesModal}}
        {{> deleteAccountModal}}
        {{> infoAccountModal}}
        {{> updateAccountModal}}
    <!--{{/if}}-->
</template>


<template name="userEmailContact">
    {{#if myProfile this._id}}
        {{email}}
    {{else}}
        <a href="{{ pathFor 'sendMessage' this._id}}" id="sendMessage">
<!--Napisz-->
{{_ 'userEmailContact.uecPost'}}</a>
    {{/if}}
</template>

