<template name="sendMessage">
	<div class="main">
		<legend>
			<!--Nowa wiadomość-->
			{{_ 'sendMessage.smNewMessageTo'}} <strong>{{receiverData}}</strong>
		</legend>
		<div class="row">
			<div class="col col-md-10">
				<form class="form-horizontal" id="newEmailForm">
					<div class="form-group">
						<label class="control-label col-xs-3" for="inputMyName">
							<!--Od-->
							{{_ 'sendMessage.smFrom'}}: 
						</label>
						<div class="col-xs-9">
							<input name="inputMyName" type="text" class="form-control" id="inputMyName" value="{{myData}}" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="inputName">
							<!--Do-->
							{{_ 'sendMessage.smTo'}}: 
						</label>
						<div class="col-xs-9">
							<input name="inputName" type="text" class="form-control" id="inputName" value="{{receiverData}}" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="topic">
							<!--Temat-->
							{{_ 'glob.globSubject'}}: 
						</label>
						<div class="col-xs-9">
							<input name="topic" type="text" class="form-control" id="topic" placeholder="{{_ 'glob.globSubject'}}">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="content">
							<!--Treść-->
							{{_ 'sendMessage.smContents'}}: 
						</label>
						<div class="col-xs-9">
							<textarea name="content" type="text" class="form-control" rows="5" id="content"></textarea>
						</div>
					</div>
					<br/>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<!--Wyślij-->
							<input type="submit" class="btn btn-primary" value="{{_ 'sendMessage.smSend'}}">
							<!--Anuluj-->
							<input type="reset" class="btn btn-default" value="{{_ 'glob.globCancel'}}">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<div class="footer">
  <div id="button">{{_ "glob.globYouHere"}} sendMessage </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
		</div>
	</div>
</div>
</template>