<template name="listRaport">
    {{#if currentUser}}
        <div class="main">
            <legend>{{kwestiaNazwa}}</legend>
            <h4>
<!--Lista raportów-->
{{_ 'listRaport.lraListOfReports'}}</h4>
            <div class="row">
                <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = RaportListAdmin
                    }}
                </div>
            </div>
        </div>
    {{/if}}
<div class="half-footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "more.ListReport"}} </div>
	<div id="container">
		<div class="footer_center">
		<p>{{_ "more.ListReportA"}}</p>
			<p>{{_ "more.ListReportB"}}</p>
			<p>{{_ "more.ListReportC"}}</p>
		</div>
	</div>
</div>
</template>


<template name="dataUtworzenia">
    {{dataUtworzenia}}
</template>


<template name="raportDetails">
    {{#with raport _id}}
        <a href="{{pathFor 'informacjeRaport'}}">{{this.tytul}}</a>
    {{/with}}
</template>



