<template name="informacjeRaport">
    <div class="main">
        <legend>{{kwestiaNazwa}}</legend>
        <h4>
<!--Raport Realizacyjny-->
{{_ 'informacjeRaport.inrTheImplementationReport'}}</h4>
        <br/>
        <div class="row">
            <div class="col col-md-10">
                <form class="form-horizontal">
                    <div class="form-group" id="kwestiaNazwaGroup">
                        <label class=" col-xs-offset-1 col-xs-2">
<!--Data utworzenia-->
{{_ 'informacjeRaport.inrCreationDate'}}:</label>

                        <div class="col-xs-9">
                            {{dataUtworzenia}}
                        </div>
                    </div>
                    <div class="form-group" id="kwestiaNazwaGroup">
                        <label class=" col-xs-offset-1 col-xs-2">
<!--Autor-->
{{_ 'informacjeRaport.inrapAuthor'}}:</label>
                        <div class="col-xs-9">
                            {{autorFullName}}
                        </div>
                    </div>
                    <div class="form-group" id="kwestiaNazwaGroup">
                        <label class=" col-xs-offset-1 col-xs-2">
<!--Tytuł-->
{{_ 'informacjeRaport.inrapTitle'}}:</label>
                        <div class="col-xs-9">
                            {{tytul}}
                        </div>
                    </div>
                    <div class="form-group" id="kwestiaNazwaGroup">
                        <label class=" col-xs-offset-1 col-xs-2">
<!--Szczegóły-->
{{_ 'informacjeRaport.inrapDetails'}}:</label>

                        <div class="col-xs-9">
                            {{opis}}
                        </div>
                    </div>
                    <div class="pull-left">
                        {{#with issueReport}}
                            <a href="{{pathFor "listRaport"}}" type="button"
                               class="btn btn-primary">
<!--Zobacz wszystkie raporty dla tej Kwestii-->
{{_ 'informacjeRaport.inrapSeeAllTheReportsForTheIssue'}}</a>
                        {{/with}}
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--
### footer page info `` label `` REPORT CONTENT -->
<div class="footer">
  <div id="button">  <i class="fa fa-info-circle"></i> &nbsp;  {{_ "more.ReportContent"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "more.RepContA"}}</p>
			<p>{{_ "more.RepContB"}}</p>
			<p>{{_ "more.RepContC"}}</p>
			<p>{{_ "more.RepContD"}}</p>
		</div>
	</div>
</div>
</template>