<template name="kosz">
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = "KoszList"
                    }}
            </div>
        </div>
    </div>
<!--
### footer page info
-->
<div class="footer">
  <div id="button"> <i class="fa fa-info-circle"></i> &nbsp;  {{_ "dym.TrashCan"}} </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "dym.TrashCanA"}}</p>
			<p>{{_ "dym.TrashCanB"}}</p>
		</div>
	</div>
</div>
</template>


<template name="dataKoniecKwestia">
    {{date}}
</template>