<template name="kosz">
<!--{{#if currentUser}}-->
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <!--{{#if KoszListCount}}-->
                    {{> reactiveTable
                    class = "table table-bordered table-hover"
                    fields = settings.fields
                    settings = settings
                    collection = "KoszList"
                    }}
                <!--{{else}}-->
                    <!--<label>Brak Kwestii</label>-->
                <!--{{/if}}-->
            </div>
        </div>
    </div>
        <!--{{/if}}-->
<div class="footer">
  <div id="button">{{_ "glob.globYouHere"}} kosz </div>
	<div id="container">
		<div class="footer_center">
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
			<p>{{_ "."}}</p>
		</div>
	</div>
</div>
</template>


<template name="dataKoniecKwestia">
    {{date}}
</template>